// TODO: 
// - CONNECT WITH TAILWIND.CONFIG.JS
// - CHECK WITH LARS
$screen-sm-min: 480px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 640px;  // Small tablets (portrait view)
$screen-lg-min: 768px;  // Tablets and small desktops
$screen-xl-min: 1024px; // Large tablets and desktops
$screen-xxl-min: 1280px; // Extra Large tablets and desktops

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

//REM Calculation
@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px: ();
    $rem: ();

    @each $value in $values {

        @if $value==0 or $value==auto {
            $px: append($px, $value);
            $rem: append($rem, $value);
        }

        @else {
            $unit: unit($value);
            $val: parseInt($value);

            @if $unit=='px' {
                $px: append($px, $value);
                $rem: append($rem, ($val / 10 + rem));
            }

            @if $unit=='rem' {
                $px: append($px, ($val * 10 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px==$rem {
        #{$property}: $px;
    }

    @else {
        #{$property}: $px;
        #{$property}: $rem;
    }
}