<template>
  <div class="relative">
    <div v-if="!isLabelHidden" class="mb-2" @click="toggleContent">
      <div v-if="isHidden">
        <slot v-if="showSlot" name="showSlot" />
        <span v-else>Tonen</span>
      </div>
      <div v-else>
        <slot v-if="hideSlot" name="hideSlot" />
        <span v-else>Verbergen</span>
      </div>
    </div>
    <div
      class="content"
      :style="`height: ${height}px`"
      :class="{ 'is-hidden': isHidden }"
    >
      <div ref="content" class="content-inner">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap';

export default {
  props: {
    duration: {
      type: Number,
      default: 0.25
    },

    isLabelHidden: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      height: 0,
      isHidden: true
    };
  },

  computed: {
    showSlot() {
      return !!this.$slots.showSlot;
    },
    hideSlot() {
      return !!this.$slots.hideSlot;
    }
  },

  methods: {
    toggleContent() {
      const vue = this;

      if (!this.isHidden) {
        gsap.to(vue, vue.duration, {
          height: 0,
          onStart() {
            vue.isHidden = true;
          }
        });
      } else {
        gsap.to(vue, vue.duration, {
          height: vue.$refs.content.offsetHeight,
          onComplete() {
            vue.isHidden = false;
          }
        });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.content {
  position: relative;
  transition: 0.25s ease-in-out;
  overflow: hidden;

  &-inner {
    transition: 0.25s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &.is-hidden {
    .content-inner {
      opacity: 0;
    }
  }
}
</style>
