<template>
  <div
    v-observe-visibility="{
      callback: (isVisible, entry) => {
        isVisible ? (isInViewport = true) : null;
      }
    }"
    class="lazyImg"
    :style="{ paddingBottom: `${paddingBottom}%` }"
  >
    <div class="loader" :class="{ 'is-hidden': isImgLoaded }"></div>
    <img
      :src="isImgLoaded"
      :class="{ 'is-hidden': !isImgLoaded }"
      :alt="title"
    />
  </div>
</template>

<script>
import axios from 'axios';

export default {
  props: {
    src: {
      type: String,
      required: true,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    width: {
      type: Number,
      default: null,
      validator(val) {
        return val > 0;
      }
    },
    height: {
      type: Number,
      default: null,
      validator(val) {
        return val > 0;
      }
    },
    customRatio: {
      type: Number,
      default: null,
      validator(val) {
        return val > 0;
      }
    }
  },
  data() {
    return {
      isImgLoaded: null,
      isInViewport: false
    };
  },
  computed: {
    paddingBottom() {
      if (this.customRatio) {
        return (1 / this.customRatio) * 100;
      } else if (this.width && this.height) {
        return (this.width / this.height) * 100;
      } else {
        return 50;
      }
    }
  },
  watch: {
    isInViewport() {
      const vue = this;
      axios.get(this.src).then((response) => {
        vue.isImgLoaded = vue.src;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.lazyImg {
  position: relative;
  width: 100%;
  padding-bottom: 50%;

  img,
  .loader {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loader {
    @apply bg-nos-gray-60;
    background: linear-gradient(
      to right,
      #ebebe6 0%,
      #ffffff 18%,
      #ebebe6 33%
    ); // #ebebe6: bg-nos-gray-60

    animation: skeletonLoader 12.5s forwards infinite linear;

    @keyframes skeletonLoader {
      0% {
        background-position: -2000px 0;
      }
      100% {
        background-position: 2000px 0;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
