<template>
  <div></div>
</template>

<script>
import axios from 'axios';

export default {
  data: () => {
    return {};
  },
  mounted() {
    this.fetchInteractives();
  },
  methods: {
    async fetchInteractives() {
      try {
        const apiUrl = `https://nosop3-interactives.prismic.io/api/v2`;
        const ref = await axios.get(apiUrl).then((response) => {
          return response.data.refs[0].ref;
        });

        const url = `https://nosop3-interactives.cdn.prismic.io/api/v2/documents/search?ref=${ref}`;
        const interactives = await axios.get(url).then((response) => {
          return response.data.results;
        });
        this.$emit('loaded-interactives', interactives);
      } catch (e) {
        console.warn('Interactives could not be retrieved: ', e); // eslint-disable-line
      }
    }
  }
};
</script>

<style></style>
