<template>
  <div class="loadingScreen">
    <div class="loadingScreen-inner">
      <div class="loading circle">
        <div>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.loadingScreen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: map-get($zindex, loadingScreen);

  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    @include rem(width, 15rem);
    @include rem(height, 15rem);
    @include rem(padding, 1.5rem);
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }

  .loading {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
  }
  .circle div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(230, 30, 20, 1) 10%,
      rgba(255, 255, 255, 0) 80%
    );
    animation: circle 1s linear infinite;
  }

  .circle div span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 100%;
    @apply bg-nos-red-100;
  }

  .circle div:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 58px;
    height: 58px;
    margin: auto;
    border-radius: 100%;
    background-color: #ffffff;
    content: '';
  }

  .circle div:after {
    position: absolute;
    right: -2px;
    top: -2px;
    width: 50px;
    height: 100px;
    background-color: #ffffff;
    content: '';
  }

  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>
