<template>
  <div class="lottie">
    <div
      class="placeholder"
      :style="{ 'padding-bottom': `${placeholderSize}%` }"
    ></div>
    <div
      ref="container"
      class="animation"
      :class="{ 'is-visible': isLoaded }"
    ></div>
  </div>
</template>

<script>
import axios from 'axios';
import lottie from 'lottie-web';

export default {
  props: {
    animationSrc: {
      type: String,
      default: null
    },
    width: {
      type: Number,
      default: 0
    },
    height: {
      type: Number,
      default: 0
    }
    // TODO:
    // CUSTOM RATIO
  },
  data: () => {
    return {
      isLoaded: false
    };
  },
  computed: {
    placeholderSize() {
      if (this.width && this.height) {
        return Math.floor((this.height / this.width) * 100);
      } else {
        return null;
      }
    }
  },
  watch: {
    animationSrc(newVal, oldVal) {
      this.init();
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      lottie.destroy();
      const vue = this;
      const url = this.animationSrc;

      axios.get(url).then((response) => {
        vue.isLoaded = true;
        lottie.loadAnimation({
          container: vue.$refs.container,
          renderer: 'svg',
          loop: true,
          autoplay: true,
          animationData: response.data
        });
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.lottie {
  position: relative;
  margin: auto;
  overflow: hidden;

  .animation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
    margin: auto;

    transition: all 0.25s ease-in-out;

    opacity: 0;
    visibility: hidden;

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }

    svg {
      width: 100%;
    }
  }

  .placeholder {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
}
</style>
