<template>
  <button
    class="btn"
    :size="size"
    :theme="theme"
    :icon-left="hasIconLeft"
    :icon-right="hasIconRight"
    :style="btnStyles"
    :disabled="disabled"
    :outline="outline"
  >
    <div v-if="bg && !disabled" class="bgCustom" :style="customBg" />
    <slot name="left"></slot>
    <span class="btn-text" :style="textStyles">
      <slot />
    </span>
    <slot name="right"></slot>
  </button>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    outline: {
      type: Boolean,
      default: false
    },
    bg: {
      type: String,
      default: null
    },
    color: {
      type: String,
      default: null
    },
    theme: {
      type: String,
      default: 'red',
      validator(val) {
        const sizes = ['red', 'black', 'yellow', 'blue'];
        return sizes.includes(val);
      }
    },
    size: {
      type: String,
      default: 'md',
      validator(val) {
        const sizes = ['sm', 'md', 'lg'];
        return sizes.includes(val);
      }
    }
  },
  computed: {
    hasIconLeft() {
      return !!this.$slots.left;
    },
    hasIconRight() {
      return !!this.$slots.right;
    },
    textStyles() {
      return {
        color: this.disabled
          ? null
          : this.color
          ? this.color
          : this.bg
          ? this.bg
          : null
      };
    },
    btnStyles() {
      return {
        backgroundColor: this.bg && !this.disabled ? 'transparent' : null,
        borderColor: this.bg && !this.disabled && this.outline ? this.bg : null
      };
    },
    customBg() {
      return {
        backgroundColor: this.disabled ? null : this.bg ? this.bg : null
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  border: solid 1px transparent;
  outline: 0;
  border-radius: 1000px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 700;
  overflow: hidden;
  cursor: pointer;

  .bgCustom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  @media (hover: hover) {
    &:hover .bgCustom {
      opacity: 0.8;
    }
  }
  &:active .bgCustom {
    opacity: 0.5;
  }

  &[outline] {
    .bgCustom {
      opacity: 0;
    }
    @media (hover: hover) {
      &:hover .bgCustom {
        opacity: 0.25;
      }
    }
    &:active .bgCustom {
      opacity: 0.5;
    }
  }

  &[icon-right] {
    .svgIcon {
      margin-right: 0;
      @include rem(margin-left, 0.5rem);
    }

    &[size='lg'] .svgIcon {
      margin-right: 0;
      @include rem(margin-left, 1rem);
    }
  }

  .btn-text {
    position: relative;
    z-index: 1;
  }

  &:not(&[icon]) > .btn-text {
    margin-bottom: 2px;
  }

  // Sizes
  // default
  @include rem(height, 4.4rem);
  @include rem(padding, 0 3rem);
  @include rem(font-size, 2rem);

  &[icon] {
    @include rem(width, 4.4rem);
    justify-content: center;
    padding: 0;

    .svgIcon {
      margin: auto !important;
    }
  }

  .svgIcon {
    @include rem(height, 2rem); // Size MD - 20 px
    @include rem(margin-right, 0.5rem);
    width: auto;
  }

  // TODO:
  // MOVE THIS TO SEPARATE FILE
  // size height padding fontsize iconwidth iconheight iconmarginright
  $sizes: 'sm' 3rem (0 2rem) 1.6rem 3rem 1.4rem 0.5rem,
    'md' 4.4rem (0 3rem) 2rem 4.4rem 2rem 0.5rem,
    'lg' 6rem (0 4.2rem) 3rem 6rem 3rem 1rem;

  @each $name, $height, $padding, $fontsize, $iconwidth, $iconheight,
    $iconmarginright in $sizes
  {
    &[size='#{$name}'] {
      @include rem(height, $height);
      @include rem(padding, $padding);
      @include rem(font-size, $fontsize);

      &[icon] {
        @include rem(width, $iconwidth);
        justify-content: center;
        padding: 0;
      }

      .svgIcon {
        @include rem(height, $iconheight);
        @include rem(margin-right, $iconmarginright);
      }
    }
  }

  //states
  &[disabled] {
    opacity: 0.5;
    @apply text-nos-gray-100;
    @apply bg-nos-gray-60;
    cursor: not-allowed;
  }

  &[full] {
    width: 100%;

    &[justify='between'] {
      @include rem(padding-left, 2rem);
      @include rem(padding-right, 2rem);
      justify-content: space-between;
    }
  }

  // theme colors
  // TODO:
  // - IMPORT THESE
  $themes: ('red', 'yellow', 'blue', 'black');

  &:not([disabled]):not([outline]):not([text]):not([secondary]) {
    color: #ffffff;
    @apply bg-nos-red-60;

    @media (hover: hover) {
      &:hover {
        @apply bg-nos-red-80;
      }
    }

    &:active {
      @apply bg-nos-red-100;
    }

    @each $theme in $themes {
      @if ($theme != 'black') {
        &[theme='#{$theme}'] {
          @apply bg-nos-#{$theme}-60;

          @media (hover: hover) {
            &:hover {
              @apply bg-nos-#{$theme}-80;
            }
          }

          &:active {
            @apply bg-nos-#{$theme}-100;
          }
        }
      } @else {
        // black has different styling
        &[theme='black'] {
          @apply bg-nos-black;

          @media (hover: hover) {
            &:hover {
              @apply bg-nos-gray-120;
            }
          }

          &:active {
            @apply bg-nos-gray-140;
          }
        }
      }
    }
  }

  // outlined / text / secondary
  &[outline],
  &[text],
  &[secondary] {
    &:not([disabled]) {
      &[size='lg'] {
        @include rem(border-width, 0.2rem);
      }

      @apply border-nos-red-60;
      @apply text-nos-red-60;

      @media (hover: hover) {
        &:hover {
          @apply bg-nos-red-20;
        }
      }

      &:active {
        @apply bg-nos-red-40;
      }

      @each $theme in $themes {
        &[theme='#{$theme}'] {
          @if ($theme != 'black') {
            @apply border-nos-#{$theme}-60;
            @apply text-nos-#{$theme}-60;

            @media (hover: hover) {
              &:hover {
                @apply bg-nos-#{$theme}-20;
              }
            }

            &:active {
              @apply bg-nos-#{$theme}-40;
            }
          } @else {
            @apply border-nos-black;
            @apply text-nos-black;

            @media (hover: hover) {
              &:hover {
                @apply bg-nos-gray-120;
              }
            }

            &:active {
              @apply bg-nos-gray-140;
            }
          }
        }
      }
    }
  }

  &[text] {
    border: none;
    background-color: transparent !important;

    &:not([disabled]) {
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  &[secondary] {
    border: none;
    background-color: #ffffff;
  }

  &:visited {
    color: #ffffff;
  }
}
</style>
