<template>
  <div class="passwordWall">
    <div>
      <NosLogo class="logo" />
      <div class="content">
        <div v-if="isPassCorrect">
          <div class="check">
            <SvgIcon name="check" color="#ffffff" />
          </div>
          <p>
            Je wordt naar de interactive gestuurd...
          </p>
        </div>
        <div v-else>
          <h1>Wachtwoord vereist</h1>
          <p>
            Voer het wachtwoord in om de interactive te bekijken
          </p>
          <form @submit.prevent="handleSubmit">
            <input v-model="input" type="text" placeholder="Wachtwoord" />
            <div v-if="msg" class="message">
              {{ msg }}
            </div>
            <NosBtn type="submit" :disabled="!input">
              Ga verder
            </NosBtn>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

import SvgIcon from '~/components/SvgIcon';
import NosBtn from '~/components/NosBtn';

export default {
  components: {
    NosLogo: () => import('~/assets/img/logos/nos-op3-gray.svg'),
    SvgIcon,
    NosBtn
  },
  data: () => {
    return {
      input: null,
      msg: null,
      isPassCorrect: false
    };
  },
  methods: {
    ...mapActions({
      setAccessGranted: 'setAccessGranted'
    }),
    handleSubmit() {
      if (this.input === process.env.password) {
        this.setAccessGranted();
        this.isPassCorrect = true;
        setTimeout(() => {
          this.$router.go(-1);
        }, 1500);
      } else {
        this.msg = 'Het wachtwoord is niet goed';
        setTimeout(() => {
          this.msg = null;
        }, 3000);
      }
      this.input = null;
    }
  }
};
</script>

<style lang="scss" scoped>
.passwordWall {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #f4f4f4;

  @include rem(padding, 1.5rem);

  .logo {
    display: block;
    @include rem(max-width, 12.5rem);
    @include rem(margin, auto auto 2.5rem auto);
  }

  .content {
    text-align: center;
    width: 100%;
    margin: auto;

    @include rem(max-width, 48rem);
    @include rem(padding, 4rem 3rem);
    @include rem(border-radius, 0.15rem);
    background-color: #ffffff;
  }

  h1 {
    margin: auto;
    @include rem(font-size, 2.2rem);
  }

  p {
    @include rem(margin, 0.5rem auto 2rem auto);
  }

  input {
    width: 100%;
    display: block;
    background-color: #f4f4f4;
    @include rem(padding, 1rem 1.5rem);
    @include rem(border-radius, 2rem);
    @include rem(margin-bottom, 1rem);
    border: solid 1px transparent;
    outline: 0;
    transition: 0.25s ease all;

    &:focus {
      border-color: #333;
    }
  }

  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    @include rem(width, 8rem);
    @include rem(height, 8rem);
    @include rem(padding, 2rem);
    @include rem(margin-bottom, 1.5rem);

    border-radius: 100%;
    background-color: green;

    svg {
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
}
.message {
  color: red;
  text-align: center;
  @include rem(margin, auto auto 1.5rem auto);
}
</style>
