<template>
  <div>
    <div v-if="type === 'content'" class="textContent">
      <prismic-rich-text
        :field="content"
        :html-serializer="anotherHtmlSerializer"
      />
    </div>
    <span v-if="type === 'label'">
      {{ label }}
    </span>
    <portal
      v-if="explanation.title || explanation.description"
      to="ThePanel-main"
    >
      <h2 v-if="explanation.title" class="text-h-md">
        {{ explanationTitle }}
      </h2>
      <div v-if="explanation.description" class="textContent">
        <prismic-rich-text
          :field="explanation.description"
          :html-serializer="anotherHtmlSerializer"
        />
      </div>
    </portal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import prismicDOM from 'prismic-dom';
const Elements = prismicDOM.RichText.Elements;

export default {
  props: {
    id: {
      type: String,
      default: null
    },
    type: {
      type: String,
      default: 'content',
      validator(val) {
        return val === 'content' || val === 'label';
      }
    },
    value: {
      type: Array,
      default() {
        return null;
      }
    },
    textReplacements: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {
      anotherHtmlSerializer: null,
      explanation: {
        id: null,
        title: null,
        description: null
      }
    };
  },

  computed: {
    ...mapGetters({
      getPrismicLabelById: 'getPrismicLabelById',
      getPrismicContentById: 'getPrismicContentById',
      getPrismicDefinitionById: 'getPrismicDefinitionById',
      getTextReplacements: 'getTextReplacements',
      getPanelActive: 'getPanelActive'
    }),

    content() {
      if (this.id && this.value) {
        console.error(`Prop value and id are both present. Please select one of the two.`); // eslint-disable-line
        return [];
      } else {
        const content = this.id
          ? this.getPrismicContentById(this.id)
          : this.value;
        return content;
      }
    },

    label() {
      const hasVariableList = Object.keys(this.getTextReplacements).length > 0;
      return hasVariableList
        ? this.findReplace(
            this.getPrismicLabelById(this.id),
            this.getTextReplacements
          )
        : this.getPrismicLabelById(this.id);
    },
    explanationTitle() {
      const hasVariableList = Object.keys(this.getTextReplacements).length > 0;
      return hasVariableList
        ? this.findReplace(this.explanation.title, this.getTextReplacements)
        : this.explanation.title;
    }
  },

  watch: {
    anotherHtmlSerializer(newVal, oldVal) {
      // setup explanations, once html serializing is done
      const vue = this;
      vue.$nextTick(() => {
        vue.setupExplanations();
      });
    },
    getPanelActive(newVal, OldVal) {
      // reset panel content when it closes
      if (!newVal && (this.explanation.id || this.explanation.description)) {
        this.$trackClick(
          `Close definition: ${this.explanation.id
            .toLowerCase()
            .replace(/[^A-Z0-9]/gi, '')}`
        );
        this.explanation.id = null;
        this.explanation.title = null;
        this.explanation.description = null;
      }
    }
  },

  mounted() {
    this.$nextTick(() => {
      this.setupSerializer();
    });
  },

  methods: {
    ...mapActions({
      setPanelActive: 'setPanelActive'
    }),

    setupSerializer() {
      const vue = this;

      // https://prismic.io/docs/technologies/html-serializer-vuejs
      this.anotherHtmlSerializer = function(type, element, content, children) {
        if (content && Object.keys(vue.getTextReplacements).length > 0) {
          const containsTextReplacement = Object.keys(
            vue.getTextReplacements
          ).some((string) => {
            return content.includes(string);
          });

          if (containsTextReplacement) {
            return vue.findReplace(content, vue.getTextReplacements);
          }
        }

        switch (type) {
          case Elements.heading1:
            return `<h1 class="text-h-xl">${children.join('')}</h1>`;

          case Elements.heading2:
            return `<h2 class="text-h-lg">${children.join('')}</h2>`;

          case Elements.heading3:
            return `<h3 class="text-h-md">${children.join('')}</h3>`;

          case Elements.heading4:
            return `<h4 class="text-h-sm">${children.join('')}</h4>`;

          case Elements.heading5:
            return `<h5 class="text-h-xs">${children.join('')}</h5>`;

          case Elements.heading6:
            return `<h6 class="text-h-xs">${children.join('')}</h6>`;

          case Elements.paragraph:
            return `<p class="prismic-paragraph">${children.join('')}</p>`;

          default:
            return null;
        }
      };
    },

    setupExplanations() {
      const vue = this;
      // add explanations
      const allDefinitions = this.$el.querySelectorAll(
        'span.explanation-definition'
      );
      allDefinitions.forEach((def) => {
        def.addEventListener('click', () => {
          const definitionId = def.textContent
            .toLowerCase()
            .replace(/[^A-Z0-9]/gi, '');
          const explanation = vue.getPrismicDefinitionById(definitionId);

          if (explanation) {
            // open panel
            vue.explanation.id = definitionId;
            vue.explanation.title = explanation.title;
            vue.explanation.description = explanation.description;
            vue.setPanelActive(true);

            vue.$trackClick(`Open definition: ${definitionId}`);
          } else {
            console.warn(`Could not find explanation: ${definitionId}`); // eslint-disable-line
          }
        });
      });
    },

    findReplace(input, listObj) {
      const vue = this;
      // build dynamic regexp:
      // https://stackoverflow.com/questions/5090103/javascript-regexp-dynamic-generation-from-variables
      // https://stackoverflow.com/questions/15604140/replace-multiple-strings-with-multiple-other-strings

      let myRegExp = '';
      const list = Object.keys(listObj);
      list.forEach((item, index) => {
        myRegExp += item.replace('[', '\\[').replace(']', '\\]');
        if (index < list.length - 1) {
          myRegExp += '|';
        }
      });

      const newContent = input.replace(new RegExp(myRegExp, 'g'), function(
        matched
      ) {
        return vue.getTextReplacements[matched];
      });
      return newContent;
    }
  }
};
</script>
