<template>
  <div class="scrollCue">
    <div
      v-if="label"
      class="scrollCue-label mb-2"
      :style="textColor ? { color: textColor } : null"
    >
      <p class="text-p-md font-bold">
        {{ label }}
      </p>
    </div>
    <svg
      class="scrollCue-icon mt-4"
      xmlns="http://www.w3.org/2000/svg"
      width="16.707"
      height="30.141"
      viewBox="0 0 16.707 30.141"
    >
      <path
        d="M1135.761-2182.027l8,8,8-8"
        transform="translate(-1135.408 2182.381)"
        fill="none"
        :stroke="iconColor"
        stroke-width="1"
      />
      <path
        d="M1135.761-2182.027l8,8,8-8"
        transform="translate(-1135.408 2192.947)"
        fill="none"
        :stroke="iconColor"
        stroke-width="1"
      />
      <path
        d="M1135.761-2182.027l8,8,8-8"
        transform="translate(-1135.408 2203.461)"
        fill="none"
        :stroke="iconColor"
        stroke-width="1"
      />
    </svg>
  </div>
</template>

<script>
// TODO:
// ADD THIS TO TEMPLATE

export default {
  props: {
    label: {
      type: String,
      default: null
    },
    textColor: {
      type: String,
      default: null
    },
    iconColor: {
      type: String,
      default: '#ffffff'
    }
  }
};
</script>

<style lang="scss">
.scrollCue {
  &-icon {
    margin: auto;

    path {
      &:nth-child(1) {
        animation: fadeInOut 2s infinite;
      }
      &:nth-child(2) {
        animation: fadeInOut 2s 0.25s infinite;
      }
      &:nth-child(3) {
        animation: fadeInOut 2s 0.5s infinite;
      }
    }

    @keyframes fadeInOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
</style>
