<template>
  <div class="scrollProgress" :class="classes" :style="styles"></div>
</template>

<script>
export default {
  props: {
    depth: {
      type: Number,
      default: 0
    },

    // TODO:
    // - IMPORT COLORS
    color: {
      type: String,
      default: 'red',
      validator(val) {
        const colors = ['red', 'blue', 'gray', 'yellow'];
        return colors.includes(val);
      }
    },

    // TODO:
    // - IMPORT SHADES
    colorShade: {
      type: Number,
      default: 60,
      validator(val) {
        const shades = [20, 40, 60, 80, 100, 120, 140];
        return shades.includes(Number(val));
      }
    },

    customColor: {
      type: String,
      default: null
    },

    height: {
      type: Number,
      default: 3
    },

    position: {
      type: String,
      default: 'top',
      validator(val) {
        return val === 'top' || val === 'bottom';
      }
    }
  },
  computed: {
    classes() {
      const classes = [];
      classes.push(`bg-nos-${this.color}-${this.colorShade}`);
      return classes;
    },
    styles() {
      const styles = {
        width: `${this.depth * 100}%`,
        height: this.height ? `${this.height}px` : null,
        backgroundColor: this.customColor ? this.customColor : null
      };

      if (this.position === 'top') {
        styles.top = 0;
      } else if (this.position === 'bottom') {
        styles.bottom = 0;
      }

      return styles;
    }
  }
};
</script>

<style lang="scss">
.scrollProgress {
  position: fixed;
  left: 0;
  @include rem(height, 0.3rem);
  z-index: map-get($zindex, scrollProgress);
}
</style>
