<template>
  <div class="py-2">
    <h2 v-if="!hideTitle" class="text-h-md">{{ title }}</h2>
    <NosBtn
      v-for="platform in socialPlatforms"
      :key="platform.id"
      class="mr-1"
      :class="platform.isHidden ? 'hide' : ''"
      icon
      theme="black"
      target="_blank"
      :title="platform.title"
      @click.native="clickLink(platform, $event)"
    >
      <SvgIcon :name="platform.icon" />
    </NosBtn>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { meta } from '~/project-settings.json';

import { isMobile } from '~/lib/detect';

import SvgIcon from '~/components/SvgIcon';
import NosBtn from '~/components/NosBtn';

export default {
  name: 'SocialShare',
  components: {
    SvgIcon,
    NosBtn
  },

  props: {
    title: {
      type: String,
      default: 'Delen'
    },
    hideTitle: {
      type: Boolean,
      default: false
    },

    url: {
      type: String,
      default: null
    },

    shareText: {
      type: String,
      default: null
    },
    hashtags: {
      type: String,
      default: meta.twitterHashtags
        .replace(/ /gi, '')
        .split('#')
        .filter((tag) => tag.length > 0)
        .join(',')
    }
  },

  data() {
    // TODO:
    // CHECK HUURHUIZEN FOR REFINEMENT

    return {
      socialPlatforms: [
        {
          id: 'facebook',
          label: 'Facebook',
          title: `Deel deze interactive op Facebook.`,
          icon: 'facebook',
          isHidden: false
        },
        {
          id: 'twitter',
          label: 'Twitter',
          title: `Tweet over deze interactive.`,
          icon: 'twitter',
          isHidden: false
        },
        {
          id: 'whatsapp',
          label: 'Whatsapp',
          title: `Deel deze interactive via WhatsApp.`,
          icon: 'whatsapp',
          isHidden: !isMobile()
        },
        {
          id: 'copy',
          label: 'Copy',
          title: `Deel deze interactive als link.`,
          icon: 'link',
          isHidden: false
        },
        {
          id: 'mail',
          label: 'Mail',
          title: `Mail deze interactive door.`,
          icon: 'mail',
          isHidden: false
        }
      ]
    };
  },

  computed: {
    ...mapGetters({
      getPrismicShareText: 'getPrismicShareText',
      getPrismicHashtags: 'getPrismicHashtags',
      getPrismic: 'getPrismic'
    })
  },

  methods: {
    urlSafe(string) {
      return encodeURIComponent(string);
    },
    clickLink(platform, event) {
      const title = this.getPrismic.title_interactive[0].text;
      const fullPath = !this.$route.fullPath ? null : this.$route.fullPath;
      const baseUrl = process.env.baseUrl.substring(
        0,
        process.env.baseUrl.length - 1
      );
      const url = this.url ? this.url : baseUrl + fullPath;
      const description = this.shareText
        ? this.shareText
        : this.getPrismicShareText;

      const hashtags = this.getPrismicHashtags.replace(' ', '')
        ? this.getPrismicHashtags.replace(' ', '')
        : this.hashtags;

      this.$trackClick(`Social share: ${platform.id}`);
      event.preventDefault();

      if (platform.id === 'copy') {
        this.$copyText(url).then(
          (e) => {
            alert('Link is gekopieerd');
          },
          (e) => {
            alert(
              'Er is een fout opgetreden tijdens het kopieren. Probeer het nogmaals.'
            );
          }
        );
      } else {
        let socialUrl = null;
        switch (platform.id) {
          case 'facebook':
            socialUrl = `https://www.facebook.com/share.php?u=${url}`;
            break;
          case 'twitter':
            socialUrl = `https://twitter.com/intent/tweet?text=${description}&url=${url}&hashtags=${hashtags}`;
            break;
          case 'whatsapp':
            socialUrl = `whatsapp://send?text=${title} ${description} ${url}`;
            break;
          case 'mail':
            socialUrl = `mailto:?subject=${this.urlSafe(
              'Bekijk deze interactive!'
            )}&body=${this.urlSafe(title)}%0D%0A${this.urlSafe(
              description
            )}%0D%0A%0D%0A${url}`;
            break;
        }
        window.open(socialUrl, '_blank');
      }
    }
  }
};
</script>

<style></style>
