<template>
  <div class="colofon">
    <section>
      <ThumbsUpDown />
      <SocialShare />
    </section>

    <section v-if="getPrismicContentById('verantwoording')">
      <h2 v-if="getPrismicLabelById('verantwoording-titel')" class="text-h-md">
        {{ getPrismicLabelById('verantwoording-titel') }}
      </h2>
      <div class="textContent">
        <prismic-rich-text :field="getPrismicContentById('verantwoording')" />
      </div>
    </section>

    <section v-if="getPrismicColofon">
      <h2 class="text-h-md mb-2">{{ getPrismicLabelById('colofon-titel') }}</h2>
      <div class="description">
        <div
          v-for="(creator, index) in getPrismicColofon"
          :key="`creator_row_${index}`"
          class="description-row"
        >
          <div class="description-title">
            <span>{{ creator.discipline }}</span>
          </div>
          <div class="description-desc">
            <span
              v-for="person in creator.name"
              :key="`creator_${person.text}`"
            >
              {{ person.text }}
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import ThumbsUpDown from '~/components/Feedback/ThumbsUpDown';
import SocialShare from '~/components/SocialShare';

export default {
  name: 'TheColofon',
  components: {
    ThumbsUpDown,
    SocialShare
  },
  computed: {
    ...mapGetters({
      getPrismicLabelById: 'getPrismicLabelById',
      getPrismicContentById: 'getPrismicContentById',
      getPrismicColofon: 'getPrismicColofon'
    })
  }
};
</script>

<style lang="scss" scoped>
h2 {
  @include rem(margin-bottom, 1rem);
}

section {
  @include rem(margin, 2rem 0 3rem 0);
}

.colofon {
  .description {
    &-row {
      @include rem(margin-bottom, 1rem);
    }

    &-title,
    &-desc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      margin: auto;
    }
    &-title {
      font-weight: 700;
      @include rem(margin-bottom, 0.5rem);
    }
    &-desc {
      font-weight: 400;
      line-height: 1.35;
      span {
        display: block;
      }
      a {
        color: #000000;
      }
    }

    @include lg {
      &-row {
        display: table;
        width: 100%;
      }
      &-title,
      &-desc {
        display: table-cell;
        vertical-align: top;
        width: 50%;
      }
    }
  }
}
</style>
