<template>
  <div class="panel">
    <div ref="bg" class="panel-bg"></div>
    <div ref="scroller" class="panel-scroller" @scroll="handleScroll">
      <div class="panel-scroller-inner">
        <div class="panel-closer" @click="closePanel"></div>
        <div class="panel-spacer" @click="closePanel"></div>
        <div ref="content" class="panel-content">
          <button class="close" @click="closePanel"></button>
          <div class="panel-content-inner">
            <portal-target name="ThePanel-main"></portal-target>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap';
import { mapActions } from 'vuex';

export default {
  data: () => {
    return {
      timeline: null,
      isIntroDone: false
    };
  },
  computed: {
    isMobile() {
      return window.innerWidth < 992;
    }
  },

  beforeDestroy() {
    this.$refs.scroller.removeEventListener('scroll', this.handleScroll);
  },

  mounted() {
    const vue = this;
    this.timeline = gsap.timeline({
      paused: true
    });
    const bg = gsap.fromTo(
      this.$refs.bg,
      { opacity: 0 },
      { opacity: 1, duration: 0.5, clearProps: 'all' }
    );
    const content = gsap.fromTo(
      this.$refs.content,
      { y: '100vh' },
      {
        y: 0,
        duration: 1,
        ease: 'power2.out',
        clearProps: 'all'
      }
    );
    this.timeline.to(vue.$refs.scroller, 0.1, {
      scrollTop: 10
    });

    this.timeline.add(bg);
    this.timeline.add(content, '-=.5');

    this.timeline.eventCallback('onReverseComplete', () => {
      this.setPanelActive(false);
    });
    this.timeline.eventCallback('onComplete', () => {
      vue.isIntroDone = true;
    });
    this.timeline.play();
    this.$refs.scroller.addEventListener('scroll', this.handleScroll);
  },
  methods: {
    ...mapActions({
      setPanelActive: 'setPanelActive'
    }),
    handleScroll() {
      if (this.$refs.scroller) {
        if (
          this.$refs.scroller.scrollTop < 10 &&
          this.isMobile &&
          this.isIntroDone
        ) {
          this.timeline.duration(0.75);
          this.timeline.reverse();
        }
      }
    },
    closePanel() {
      this.timeline.duration(0.75);
      this.timeline.reverse();
    }
  }
};
</script>

<style lang="scss" scoped>
.panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
  z-index: map-get($zindex, panel);

  &-scroller {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    overscroll-behavior: none;

    &-inner {
      display: flex;
      flex-direction: column;
      min-height: calc(100% + 20px);
      @include lg {
        min-height: 100%;
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }

  &-spacer {
    flex: 1;
    flex-shrink: 1;
    cursor: pointer;
  }

  &-closer {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 0;
  }

  &-content {
    position: relative;
    background-color: #ffffff;
    @include rem(border-top-left-radius, 1.25rem);
    @include rem(border-top-right-radius, 1.25rem);
    @include rem(padding, 5rem 3rem 3rem 3rem);
    @include rem(margin, 5rem auto auto auto);
    width: 100%;

    &-inner {
      margin: auto;
      @include md {
        @include rem(max-width, 48rem);
      }
      @include lg {
        @include rem(max-width, 64rem);
      }
    }

    @include xl {
      @include rem(max-width, 76.8rem);
    }

    z-index: 1;

    .close {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 0;
      @include rem(width, 5rem);
      @include rem(height, 3rem);
      z-index: 1;
      outline: 0;

      &:after {
        content: '';
        display: block;
        @include rem(height, 0.65rem);
        width: 100%;
        @include rem(border-radius, 0.5rem);
        background-color: #ccc;
      }
      &:hover,
      &:focus {
        opacity: 0.75;
      }
    }
  }
}
</style>
