*,
*:before,
*:after {
  box-sizing: border-box; 
}

html {
    font-size: 62.5%; /* =10px */
    font-family: var(--font-main);

    ::-moz-selection {
        @apply bg-nos-red-60;
        color: #ffffff;
    }

    ::selection {
        @apply bg-nos-red-60;
        color: #ffffff;
    }
}

body {
    @include rem(font-size,1.6rem);
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
    z-index: map-get($zindex, body);

    &.is-scrollBlocked{
        overflow: hidden;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
}

.app{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  
    z-index: map-get($zindex, body);
    overflow: hidden;
  
    &-inner{
      
      position: relative;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      width: 100vw;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: contain;

      &.is-scrollBlocked{
            overflow: hidden;
        }
    }
}

img{
    display: block;
    max-width: 100%;
    margin: auto;
}

a{
    &:visited{
        @apply text-nos-red-120;
    }
}

[disabled]{
    cursor: not-allowed;
}

.hide {
    display: none !important;
}

.text-center{
    text-align: center;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


span.explanation-definition{
    position: relative;
    display: inline-block;
    @include rem(margin-right, 2rem);
    cursor: pointer;
    
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: 1px dotted transparent;
        @apply border-nos-gray-100;
    }

    &:after{
        content: "?";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @include rem(right, -1.8rem);
        display: block;
        
        @include rem(width, 1.4rem);
        @include rem(height, 1.4rem);
        @include rem(font-size, 1rem);
        @apply bg-nos-gray-80;
        border-radius: 100%;
        color: #ffffff;
        text-align: center;
    }

    &:hover,&:focus{
        &:before{
            @apply border-nos-red-60;
        }
        &:after{
            @apply bg-nos-red-60;
        }
    }
}
