// TODO:
// MOVE THIS TO SEPARATE FILE
$sizes: // size height padding fontsize iconwidth
"sm"3rem (1rem 1.5rem) 1.6rem 3rem,
"md"4.4rem (1rem 1.5rem) 2rem 4.4rem,
"lg"6rem (1.25rem 2rem) 3rem 6rem;

.formField {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  overflow: hidden;
  @apply border-nos-gray-100;
  background-color: #ffffff;

  .input,
  textarea {
    flex: 1;
    width: 100%;
    outline: 0;
  }

  textarea {
    @include rem(padding, 1rem 1.5rem);
    @include rem(font-size, 2rem);
  }

  .formField-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include rem(width, 4.4rem);
  }

  // Sizes

  // Default
  .input {
    display: flex;
    align-items: center;
    height: 100%;
    @include rem(padding, 1rem 1.5rem);
    @include rem(font-size, 2rem);

    &::placeholder {
      @apply text-nos-gray-100;
    }
  }

  @each $name,
  $height,
  $padding,
  $fontsize,
  $iconwidth in $sizes {
    &[size="#{$name}"] {
      .input {
        @include rem(padding, $padding);
        @include rem(font-size, $fontsize);
      }

      .formField-icon {
        @include rem(width, $iconwidth);
      }
    }
  }

  &.rounded-full {
    @include rem(padding-left, 1rem);
    @include rem(padding-right, 1rem);
  }

  &[active] {
    @apply border-nos-black;
    @apply text-nos-black;
  }

  &[error] {
    @apply border-nos-error;
    @apply text-nos-error;
  }

  &[success] {
    @apply border-nos-success;
    @apply text-nos-success;
  }

  &[disabled] {
    opacity: .5;
    @apply bg-nos-gray-60;

    button {
      pointer-events: none;
    }
  }

  &[icon-left] {
    .input {
      padding-left: 0;
    }
  }

  &[icon-right] {
    .input {
      padding-right: 0;
    }
  }
}

.formFieldSelector {
  position: relative;

  button {
    text-align: left;
  }

  .list {
    position: absolute;
    display: block;
    top: auto;
    left: 0;
    width: 100%;
    @include rem(max-height, 20rem); // TODO: Review
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include rem(padding, .5rem 0);
    line-height: 2;
    background: #ffffff;
    z-index: 999;

    &-item {
      align-items: center;

      // default sizes
      @include rem(min-height, 4.4rem);
      @include rem(padding, 1rem 1.5rem);
      @include rem(font-size, 2rem);
    }

    &-item {
      @apply text-nos-black;

      &:not([disabled]):not([selected]):not([header]):not([separator]) {
        cursor: pointer;

        &:hover {
          @apply bg-nos-gray-40;
        }
      }

      &[disabled] {
        opacity: .5;
      }

      &[selected] {
        @apply text-nos-red-60;
      }

      &[header] {
        font-weight: bold;
        @apply text-nos-gray-80;
        @include rem(margin-bottom, -.5rem);
      }

      &[separator] {
        position: relative;
        display: flex;
        box-sizing: border-box;
        border: none;

        &:before {
          content: '';
          position: relative;
          display: block;
          width: 100%;
          height: 1px;
          @apply bg-nos-gray-80;
        }
      }

      &[separator][full-width] {
        &:before {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      &[separator][no-line]:before {
        background-color: transparent;
      }

    }


    a {
      display: block;
    }
  }

  //sizes
  @each $name,
  $height,
  $padding,
  $fontsize,
  $iconwidth in $sizes {
    &[size="#{$name}"] {
      .list-item {
        @include rem(min-height, $height);
        @include rem(padding, $padding);
        @include rem(font-size, $fontsize);
      }
    }
  }
}

.formRadio [type="radio"],
.formCheckbox [type="checkbox"],
.formToggle [type="checkbox"] {
  position: absolute;
  visibility: hidden;
  opacity: 0;

  &:not([disabled])+label {
    cursor: pointer;
  }

  &+label {
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &[disabled]+label {
    cursor: not-allowed;
    opacity: .5;

    &:before {
      @apply bg-nos-gray-60;
    }
  }
}

.formRadio [type="radio"],
.formCheckbox [type="checkbox"] {
  &:checked+label {
    &:after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &+label {
    @include rem(padding-left, 3rem);
    @include rem(height, 4.4rem);
    @include rem(font-size, 2rem);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      @include rem(width, 2.4rem);
      @include rem(height, 2.4rem);
      @apply border-nos-gray-100;
      border-width: 1px;
      transition: all 0.2s ease;
      background: #fff;
    }

    &:after {
      content: '';
      position: absolute;
      @apply bg-nos-red-60;

      @include rem(width, 1.2rem);
      @include rem(height, 1.2rem);
      @include rem(left, .6rem);
      bottom: 0;
      top: 0;
      margin: auto;
      transition: all 0.2s ease;

      opacity: 0;
      transform: scale(0);
    }
  }

}

// radios
.formRadio [type="radio"] {
  &+label {

    &:before,
    &:after {
      border-radius: 100%;
    }
  }

  &:checked+label {
    &:before {
      @apply border-nos-red-60;
    }
  }
}

//checkbox
.formCheckbox [type="checkbox"] {
  &+label {
    &:before {
      border-radius: 3px;
    }

    &:after {
      border-radius: 1px;
    }
  }
}

//font sizes
@each $name,
$height,
$padding,
$fontsize,
$iconwidth in $sizes {

  .formRadio[size="#{$name}"],
  .formCheckbox[size="#{$name}"],
  .formToggle[size="#{$name}"],
  .formRangeSlider[size="#{$name}"] {
    label {
      @include rem(font-size, $fontsize);
      @include rem(height, $height);
    }
  }
}

$inputIconSizes:('sm'2rem 2.5rem,
  'md'2.4rem 3rem,
  'lg'2.8rem 3.5rem,
);

@each $name,
$size,
$padLeft in $inputIconSizes {

  .formRadio[size="#{$name}"] [type="radio"],
  .formCheckbox[size="#{$name}"] [type="checkbox"] {
    &+label {
      @include rem(padding-left, $padLeft);

      &:before {
        @include rem(width, $size);
        @include rem(height, $size);
      }

      &:after {
        @include rem(width, $size / 2);
        @include rem(height, $size / 2);
        @include rem(left, $size / 4);
      }
    }

  }
}
