ul,ol{
  @include rem(margin-bottom, 1rem);

  li{
    position: relative;
    display: flex;
    align-items: flex-start;
    line-height: 1.75;
  }

  // types
  &[list-style]{
    li{
      &:before{
        @include rem(min-width, 2.5rem);
        text-align: center;
      }
    }
  }
  &[list-style="decimal"]{
    counter-reset: li;
    li{
      counter-increment: li;
      &:before{
        content: counter(li)".";
      }
    }
  }
  &[list-style="disc"]{
    li{
      &:before{
        content: "●";
      }
    }
  }
  &[list-style="icon"]{
    li{
      display: block;
    }
    @include rem(padding-left, 2.5rem);
    .svgIcon{
      position: relative;
      display: inline-block;
      @include rem(width, 1.6rem);
      @include rem(margin, 0 .75rem .25rem -2.5rem);
      vertical-align: middle;
    }
  }

  // sizes
  $sizes: ('xs': 1.2rem, 'sm': 1.4rem,'md': 1.6rem, 'lg': 1.8rem, 'xl':2rem );
  @each $size, $value in $sizes {
    &[size="#{$size}"]{
      @apply text-p-#{$size};
      li .svgIcon{
        @include rem(width, $value);
      }
    }  
  }

}
