.textContent{
    p{
        @apply text-p-md;
        font-weight: 400;
        line-height: 1.4;
        @include rem(margin-bottom, 1rem);

        & + p{
            @include rem(margin-top, 1rem);
        }
        // &:last-of-type{
        //     @include rem(margin-bottom, 4rem)
        // }
        
        [class^='bg-nos-'] {
            display: inline-block;
            @include rem(border-radius, 0.25rem);
            @include rem(padding, 0.05rem 0.35rem);
        }
    }
}

h1,h2,h3,h4,h5,h6,
[class^="text-h-"]{
    font-weight: bold;
    @include rem(margin-bottom, 1rem);
}
