<template>
  <div>
    <div v-if="!givenFeedback" class="py-4">
      <h2 v-if="!hideTitle" class="text-h-md">{{ title }}</h2>
      <NosBtn icon theme="black" @click.native="submitFeedback('positive')">
        <SvgIcon name="thumbsUp" />
      </NosBtn>
      <NosBtn icon theme="black" @click.native="submitFeedback('negative')">
        <SvgIcon name="thumbsDown" />
      </NosBtn>
    </div>
    <div v-if="givenFeedback" class="py-4">
      <h2 class="text-h-md">{{ customResultTitle }}</h2>
      <p>
        {{ customResultText }}
      </p>
      <div class="mt-4">
        <a :href="enalyzerUrl" target="_blank">
          <NosBtn @click.native="$trackClick('More feedback')"
            >Meer feedback geven</NosBtn
          >
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import SvgIcon from '~/components/SvgIcon';
import NosBtn from '~/components/NosBtn';

export default {
  name: 'ThumbsUpDown',
  components: {
    SvgIcon,
    NosBtn
  },
  props: {
    title: {
      type: String,
      default: 'Wat vind je hiervan?'
    },
    hideTitle: {
      type: Boolean,
      default: false
    },
    customResultTitle: {
      type: String,
      default: 'Bedankt voor je feedback!'
    },
    customResultText: {
      type: String,
      default: 'Heb je aanvullende opmerkingen of suggesties?'
    }
  },
  data() {
    return {
      givenFeedback: false
    };
  },
  computed: {
    enalyzerUrl() {
      return `https://surveys.enalyzer.com/?pid=${process.env.enalyzer}`;
    }
  },
  methods: {
    submitFeedback(opinion) {
      this.givenFeedback = true;
      this.$trackClick(`Feedback: ${opinion}`);
    }
  }
};
</script>
