<template>
  <div class="app">
    <div class="app-inner" :class="{ 'is-scrollBlocked': getScrollBlocked }">
      <nuxt />
      <ThePanel v-if="getPanelActive" />
      <LoadingScreen v-if="getLoadingActive" />
      <ScrollProgress
        v-if="getScrollProgressActive"
        :depth="Number(scrollDepth)"
      />
    </div>
  </div>
</template>
<script>
// mixins
import { mapGetters } from 'vuex';
import global from '~/mixins/global';
import trackScrolling from '~/mixins/trackScrolling';
import ThePanel from '~/components/ThePanel';
import LoadingScreen from '~/components/LoadingScreen';
import ScrollProgress from '~/components/ScrollProgress';

export default {
  name: 'Default',
  components: {
    ThePanel,
    LoadingScreen,
    ScrollProgress
  },
  mixins: [global, trackScrolling],
  computed: {
    ...mapGetters({
      getScrollBlocked: 'getScrollBlocked',
      getPanelActive: 'getPanelActive',
      getLoadingActive: 'getLoadingActive',
      getScrollProgressActive: 'getScrollProgressActive'
    })
  }
};
</script>
