<template>
  <div class="no-ie">
    <header><LogoNos class="logo" /></header>
    <main>
      <a href="https://browsehappy.com/" target="_blank">
        <img :src="`${url}/img/index_header.jpg`" />
      </a>
      <h1>Verouderde browser</h1>
      <p>
        <strong
          >Bekijk deze interactive voor de beste ervaring op een mobiele
          telefoon of PC met de laatste versie van Google Chrome, Apple Safari
          of Mozilla Firefox.</strong
        >
      </p>
      <a href="https://browsehappy.com/" target="_blank">
        Browser updaten
      </a>
    </main>
    <footer />
  </div>
</template>

<script>
export default {
  name: 'BrowserUpdate',
  components: {
    LogoNos: () => import('~/assets/img/logos/nos-op3-gray.svg')
  },
  computed: {
    url() {
      return process.env.baseUrl;
    }
  },
  mounted() {
    this.$trackPage('Browser update');
  }
};
</script>

<style lang="scss" scoped>
.no-ie {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  font-family: Arial, Helvetica, sans-serif;

  @include rem(padding, 1.5rem 3rem);
  @include rem(max-width, 64rem);
  text-align: center;
  margin: auto;
  font-weight: bold;
  background-color: #ffffff;

  .logo {
    @include rem(max-width, 15rem);
    margin: auto;
  }
  h1 {
    @include rem(font-size, 2rem);
  }

  img {
    display: block;
    @include rem(max-width, 30rem);
    @include rem(max-height, 30rem);
    @include rem(margin, 3rem auto);
    width: 100%;
    height: auto;
  }

  a {
    @include rem(margin-top, 1.5rem);
    color: #000000;
    text-decoration: underline;
  }
}
</style>
