<template>
  <div id="styleguide" class="px-4 pt-4 pb-8">
    <div class="sectionSelector">
      <span>Toon:</span>
      <select v-model="selected" @change="handleFilter">
        <option value="Alles">Alles</option>
        <option
          v-for="(section, i) in sections"
          :key="`section_selector_${i}`"
          :value="section"
          >{{ section }}</option
        >
      </select>
    </div>

    <section class="text-center">
      <h1 class="text-nos-red-60 font-bold mb-4">
        NOS op 3 - Styleguide
      </h1>
    </section>
    <TWSection
      v-for="(section, index) in sections"
      :key="`section_${index}`"
      :name="section"
      :class="{ hide: selected !== section && selected !== 'Alles' }"
    ></TWSection>

    <section
      class="p-4"
      :class="{ hide: selected !== 'Components' && selected !== 'Alles' }"
    >
      <TheColofon />
      <div class="max-w-320">
        <h3 class="text-h-sm">Lottie animation</h3>
        <LottieAnimation
          :width="180"
          :height="140"
          :animation-src="'animation/audio.json'"
        />
      </div>
      <div>
        <h3 class="text-h-sm">Prismic content</h3>
        <div class="w-48 my-4">
          <ScrollCue
            label="scroll om meer te zien"
            text-color="green"
            icon-color="green"
          />
        </div>
      </div>
      <div>
        <h3 class="text-h-sm">Prismic content</h3>
        <!-- eslint-disable-next-line -->
        <p v-html="getPrismicLabelById('voorbeeld-label-id')" /> 
        <PrismicContent id="voorbeeld-content-id" type="content" />
      </div>
      <div>
        <h3 class="text-h-sm">Loading screen</h3>
        <p>
          Clicking this button will show the loading screen for 3 seconds.
        </p>
        <a class="mt-4" @click.prevent="toggleLoadingScreen">
          Toggle loading screen
        </a>
      </div>

      <div class="mt-10 p-4 border-1 border-nos-gray-100">
        <ContentToggler>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            itaque voluptatum vero exercitationem quae distinctio quam est
            provident facere placeat. Accusantium, est nostrum, optio tempore
            perspiciatis illum magni saepe repudiandae facilis dolorum odio. Et,
            ipsam aliquid sapiente soluta cum, odit officiis iste delectus non
            eaque consectetur eligendi ipsa voluptatem perspiciatis?
          </p>
        </ContentToggler>
      </div>
      <div class="mt-10 p-4 border-1 border-nos-gray-100">
        <ContentToggler>
          <template #showSlot>
            <div class="font-bold flex items-center justify-center">
              Custom label: Tonen +
            </div>
          </template>
          <template #hideSlot>
            <div class="font-bold flex items-center justify-center">
              Custom label: Verbergen -
            </div>
          </template>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            itaque voluptatum vero exercitationem quae distinctio quam est
            provident facere placeat. Accusantium, est nostrum, optio tempore
            perspiciatis illum magni saepe repudiandae facilis dolorum odio. Et,
            ipsam aliquid sapiente soluta cum, odit officiis iste delectus non
            eaque consectetur eligendi ipsa voluptatem perspiciatis?
          </p>
        </ContentToggler>
      </div>

      <div class="mt-20">
        <h3 class="text-h-sm">More interactives</h3>
        <LoadInteractives @loaded-interactives="handleInteractives" />
        <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-8">
          <div
            v-for="(item, i) in interactives"
            :key="`card_${i}`"
            class="shadow-lg"
          >
            <LazyImg
              :title="item.data.title"
              :src="
                item.data.thumbnail
                  ? item.data.thumbnail
                  : require('~/assets/img/logos/nos-op3.jpg')
              "
            />
            <div class="p-4">
              <h2>{{ item.data.title }}</h2>
              <h3>{{ item.data.publish_date | formatDate }}</h3>
              <p>
                {{ item.data.description }}
              </p>
              <NosBtn :href="item.data.url.url" :target="item.data.url.target">
                Bekijk
              </NosBtn>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import TWSection from '~/pages/tailwind/TWSection';
import TheColofon from '~/components/TheColofon';
import LottieAnimation from '~/components/LottieAnimation';
import LoadInteractives from '~/components/LoadInteractives';
import PrismicContent from '~/components/PrismicContent';
import LazyImg from '~/components/LazyImg';
import ScrollCue from '~/components/ScrollCue';
import NosBtn from '~/components/NosBtn';
import ContentToggler from '~/components/ContentToggler';

export default {
  components: {
    ContentToggler,
    TWSection,
    TheColofon,
    LottieAnimation,
    LoadInteractives,
    PrismicContent,
    LazyImg,
    ScrollCue,
    NosBtn
  },
  filters: {
    formatDate(input) {
      const date = new Date(input);
      const month = date.toLocaleString('nl-NL', { month: 'long' });
      return `${date.getDate()} ${month} ${date.getFullYear()}`;
    }
  },
  data() {
    return {
      interactives: [],
      selected: 'Alles',
      sections: [
        'Colors',
        'Typography',
        'Lists',
        'Buttons',
        'Icons',
        'Borders',
        'Borderradius',
        'Shadows',
        'FormElements',
        'Components'
      ]
    };
  },
  computed: {
    ...mapGetters({
      getPrismicLabelById: 'getPrismicLabelById'
    })
  },
  mounted() {
    const filter = window.localStorage.getItem('tailwind-filter');
    if (filter) {
      this.selected = filter;
    }
  },
  methods: {
    ...mapActions({
      setLoadingActive: 'setLoadingActive'
    }),
    toggleLoadingScreen() {
      this.setLoadingActive(true);
      setTimeout(() => {
        this.setLoadingActive(false);
      }, 3000);
    },
    handleFilter() {
      window.localStorage.setItem('tailwind-filter', this.selected);
    },
    handleInteractives(payload) {
      const publishedOnly = payload.filter(
        (interactive) => interactive.data.is_published
      );
      this.interactives = publishedOnly.sort(
        (a, b) => new Date(b.data.publish_date) - new Date(a.data.publish_date)
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.sectionSelector {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100vw;
  @include rem(padding, 1.5rem);
  z-index: 999999;

  span {
    color: #ffffff;
    @include rem(margin-right, 0.5rem);
  }
}
#styleguide {
  @include lg {
    @include rem(margin-bottom, 3rem);
  }
}
</style>
<style lang="postcss" scoped>
.sectionSelector {
  @apply bg-nos-red-60;
}
</style>
