<template>
  <div>
    <PasswordWall />
  </div>
</template>

<script>
import PasswordWall from '~/components/PasswordWall';

export default {
  components: {
    PasswordWall
  },
  layout: 'clean'
};
</script>
