<template>
  <div class="errorPage flex items-center">
    <NosLogo class="logo" />
    <div class="bgCircle"></div>
    <div class="m-auto max-w-480 text-center px-4">
      <h1 class="text-h-lg">
        Er is een fout opgetreden
      </h1>
      <p class="text-p-lg my-6">
        Waarschijnlijk is de URL fout, of de pagina bestaat niet meer.
        Controleer het adres, of ga terug naar home.
      </p>
      <div class="mb-2">
        <NosBtn @click="reloadPage()">
          Ververs pagina
        </NosBtn>
      </div>
      <nuxt-link to="/">
        <NosBtn text>
          Naar home
        </NosBtn>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import NosBtn from '~/components/NosBtn';
export default {
  components: {
    NosLogo: () => import('~/assets/img/logos/nos-op3-gray.svg'),
    NosBtn
  }
};
</script>

<style lang="scss" scoped>
.errorPage {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.logo {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  @include rem(top, 2.5rem);
  @include rem(max-width, 10rem);
}
.bgCircle {
  position: fixed;
  @apply bg-nos-gray-40;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  z-index: -1;
  @media (orientation: landscape) {
    width: 75vw;
    height: 75vw;
    margin-top: -37.5vw;
    margin-left: -37.5vw;
  }
  @media (orientation: portrait) {
    width: 75vh;
    height: 75vh;
    margin-top: -37.5vh;
    margin-left: -37.5vh;
  }
  @include xl {
    @include rem(width, 70rem);
    @include rem(height, 70rem);
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
</style>
