<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">
        Border radius
      </h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>
    <div class="grid grid-cols-8 gap-4">
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-xs"
      >
        XS
      </div>
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-sm"
      >
        SM
      </div>
      <div class="bg-nos-gray-40 h-32 flex justify-center items-center rounded">
        Default
      </div>
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-md"
      >
        MD
      </div>
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-lg"
      >
        LG
      </div>
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-xl"
      >
        XL
      </div>
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-2xl"
      >
        2XL
      </div>
      <div
        class="bg-nos-gray-40 h-32 flex justify-center items-center rounded-full"
      >
        Full
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
