<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">Borders</h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>
    <div class="grid grid-cols-11 gap-2">
      <div
        class="h-32 flex justify-center items-center border-0 border-nos-gray-80"
      >
        0
      </div>
      <div
        class="h-32 flex justify-center items-center border-1 border-nos-gray-80"
      >
        1 / Standard
      </div>
      <div
        class="h-32 flex justify-center items-center border-2 border-nos-gray-80"
      >
        2
      </div>
      <div
        class="h-32 flex justify-center items-center border-3 border-nos-gray-80"
      >
        3
      </div>
      <div
        class="h-32 flex justify-center items-center border-4 border-nos-gray-80"
      >
        4
      </div>
      <div
        class="h-32 flex justify-center items-center border-5 border-nos-gray-80"
      >
        5
      </div>
      <div
        class="h-32 flex justify-center items-center border-6 border-nos-gray-80"
      >
        6
      </div>
      <div
        class="h-32 flex justify-center items-center border-7 border-nos-gray-80"
      >
        7
      </div>
      <div
        class="h-32 flex justify-center items-center border-8 border-nos-gray-80"
      >
        8
      </div>
      <div
        class="h-32 flex justify-center items-center border-9 border-nos-gray-80"
      >
        9
      </div>
      <div
        class="h-32 flex justify-center items-center border-10 border-nos-gray-80"
      >
        10
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
