<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">
        Buttons
      </h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">Kleuren</h3>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5">
        <div v-for="theme in themes" :key="`theme_${theme}`">
          <div class="text-nos-gray-100 mb-4">
            &nbsp;
            <span v-if="theme">{{ theme }}</span>
          </div>
          <div>
            <NosBtn size="sm" :theme="theme">
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" :theme="theme">
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :theme="theme">
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled :theme="theme">
              Button lg
            </NosBtn>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">Outline</h3>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5">
        <div v-for="theme in themes" :key="`theme_${theme}`">
          <div>
            <NosBtn size="sm" :theme="theme" outline>
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" :theme="theme" outline>
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :theme="theme" outline>
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled :theme="theme" outline>
              Button lg
            </NosBtn>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-nos-black -mx-8 px-8 py-4">
      <div>
        <h3 class="text-h-md text-nos-white">Secondary</h3>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5">
        <div v-for="theme in themes" :key="`theme_${theme}`">
          <div>
            <NosBtn size="sm" :theme="theme" secondary>
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" :theme="theme" secondary>
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :theme="theme" secondary>
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled :theme="theme" secondary>
              Button lg
            </NosBtn>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">Text only</h3>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5">
        <div v-for="theme in themes" :key="`theme_${theme}`">
          <div>
            <NosBtn size="sm" :theme="theme" text>
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" :theme="theme" text>
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :theme="theme" text>
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled :theme="theme" text>
              Button lg
            </NosBtn>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">With icons</h3>
      </div>
      <div class="flex justify-between">
        <div>
          <div>
            <NosBtn size="sm">
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              Icon left
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md">
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              Icon left
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg">
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              Icon left
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              Icon left
            </NosBtn>
          </div>
        </div>

        <div>
          <div>
            <NosBtn size="sm">
              <template #right>
                <SvgIcon name="heart" />
              </template>
              Icon right
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md">
              <template #right>
                <SvgIcon name="heart" />
              </template>
              Icon right
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg">
              <template #right>
                <SvgIcon name="heart" />
              </template>
              Icon right
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled>
              <template #right>
                <SvgIcon name="heart" />
              </template>
              Icon right
            </NosBtn>
          </div>
        </div>

        <div>
          <div>
            <NosBtn size="sm" outline>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" outline>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" outline>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled outline>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
        </div>

        <div>
          <div>
            <NosBtn size="sm" text>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" text>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" text>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" disabled text>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              With icon
            </NosBtn>
          </div>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">Full width</h3>
      </div>
      <div class="grid gap-4 grid-cols-2 xl:grid-cols-5">
        <div class="w-full max-w-320">
          <NosBtn size="sm" full>
            Button sm
          </NosBtn>
          <NosBtn size="md" full>
            Button md
          </NosBtn>
          <NosBtn size="lg" full>
            Button lg
          </NosBtn>
        </div>

        <div class="w-full max-w-320">
          <NosBtn size="sm" full>
            <template #left>
              <SvgIcon name="twitter" />
            </template>
            Button sm
          </NosBtn>
          <NosBtn size="md" full>
            <template #left>
              <SvgIcon name="twitter" />
            </template>
            Button md
          </NosBtn>
          <NosBtn size="lg" full>
            <template #left>
              <SvgIcon name="twitter" />
            </template>
            Button lg
          </NosBtn>
        </div>

        <div class="w-full max-w-320">
          <NosBtn size="sm" full>
            <template #right>
              <SvgIcon name="twitter" />
            </template>
            Button sm
          </NosBtn>
          <NosBtn size="md" full>
            <template #right>
              <SvgIcon name="twitter" />
            </template>
            Button md
          </NosBtn>
          <NosBtn size="lg" full>
            <template #right>
              <SvgIcon name="twitter" />
            </template>
            Button lg
          </NosBtn>
        </div>

        <div class="w-full max-w-320">
          <NosBtn size="sm" full justify="between">
            <template #right>
              <SvgIcon name="chevronRight" />
            </template>
            Button sm
          </NosBtn>
          <NosBtn size="md" full justify="between">
            <template #right>
              <SvgIcon name="chevronRight" />
            </template>
            Button md
          </NosBtn>
          <NosBtn size="lg" full justify="between">
            <template #right>
              <SvgIcon name="chevronRight" />
            </template>
            Button lg
          </NosBtn>
        </div>

        <div class="w-full max-w-320">
          <NosBtn size="sm" full justify="between">
            <template #left>
              <SvgIcon name="chevronRight" />
            </template>
            Button sm
          </NosBtn>
          <NosBtn size="md" full justify="between">
            <template #left>
              <SvgIcon name="chevronRight" />
            </template>
            Button md
          </NosBtn>
          <NosBtn size="lg" full justify="between">
            <template #left>
              <SvgIcon name="chevronRight" />
            </template>
            Button lg
          </NosBtn>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">Icon only</h3>
      </div>
      <div class="flex">
        <div class="flex">
          <NosBtn size="sm" icon>
            <SvgIcon name="twitter" />
          </NosBtn>
          <NosBtn size="md" icon>
            <SvgIcon name="twitter" />
          </NosBtn>
          <NosBtn size="lg" icon>
            <SvgIcon name="twitter" />
          </NosBtn>
          <NosBtn size="lg" disabled icon>
            <SvgIcon name="twitter" />
          </NosBtn>
        </div>
        <div class="flex">
          <NosBtn size="sm" icon outline>
            <SvgIcon name="twitter" />
          </NosBtn>
          <NosBtn size="md" icon outline>
            <SvgIcon name="twitter" />
          </NosBtn>
          <NosBtn size="lg" icon outline>
            <SvgIcon name="twitter" />
          </NosBtn>
          <NosBtn size="lg" disabled icon outline>
            <SvgIcon name="twitter" />
          </NosBtn>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div>
        <h3 class="text-h-md">Custom colors</h3>
      </div>
      <div class="flex">
        <div class="flex-col">
          <div>
            <NosBtn size="sm" bg="green" color="lightgreen">
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" bg="pink" color="purple">
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" color="red" bg="rgba(180,0,0,1)">
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :disabled="true" bg="orange" color="black">
              Button lg
            </NosBtn>
          </div>
        </div>

        <div class="flex-col">
          <div>
            <NosBtn size="sm" bg="green" color="lightgreen" outline>
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" bg="pink" color="purple" outline>
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" bg="rgba(180,0,0,1)" outline>
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn
              size="lg"
              :disabled="true"
              bg="orange"
              color="black"
              outline
            >
              Button lg
            </NosBtn>
          </div>
        </div>

        <div class="flex-col">
          <div>
            <NosBtn size="sm" bg="green" color="lightgreen" outline>
              <template #left>
                <SvgIcon name="twitter" color="lightgreen" />
              </template>
              Button sm
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" bg="pink" color="purple" outline>
              <template #left>
                <SvgIcon name="twitter" color="purple" />
              </template>
              Button md
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" bg="rgba(180,0,0,1)" outline>
              <template #left>
                <SvgIcon name="twitter" color="rgba(180,0,0,1)" />
              </template>
              Button lg
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :disabled="true" bg="orange" outline>
              <template #left>
                <SvgIcon name="twitter" />
              </template>
              Button lg
            </NosBtn>
          </div>
        </div>

        <div class="flex-col">
          <div>
            <NosBtn size="sm" bg="green" color="lightgreen" icon>
              <SvgIcon name="twitter" color="lightgreen" />
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" bg="pink" color="purple" icon>
              <SvgIcon name="twitter" color="purple" />
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" bg="rgba(180,0,0,1)" icon>
              <SvgIcon name="twitter" color="#ffffff" />
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :disabled="true" bg="orange" icon>
              <SvgIcon name="twitter" />
            </NosBtn>
          </div>
        </div>

        <div class="flex-col">
          <div>
            <NosBtn size="sm" bg="green" color="lightgreen" icon outline>
              <SvgIcon name="twitter" color="lightgreen" />
            </NosBtn>
          </div>
          <div>
            <NosBtn size="md" bg="pink" color="purple" icon outline>
              <SvgIcon name="twitter" color="purple" />
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" bg="rgba(180,0,0,1)" icon outline>
              <SvgIcon name="twitter" color="rgba(180,0,0,1)" />
            </NosBtn>
          </div>
          <div>
            <NosBtn size="lg" :disabled="true" bg="orange" icon outline>
              <SvgIcon name="twitter" />
            </NosBtn>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import NosBtn from '~/components/NosBtn';
import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    SvgIcon,
    NosBtn
  },
  data() {
    return {
      themes: [null, 'yellow', 'blue', 'black']
    };
  }
};
</script>

<style></style>
