<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">
        Components
      </h2>
      <hr class="mb-8 border-nos-gray-80" />
      <a v-scroll-to="'#element'" href="#">Scroll to #element</a>
      <h1>Index</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae culpa
        deleniti asperiores consequatur accusantium porro harum sapiente quaerat
        non veritatis expedita voluptates maxime, accusamus facilis repellat
        necessitatibus commodi placeat, molestiae, provident atque suscipit odio
        rem et. Qui earum veritatis ea a distinctio fugit nobis molestiae,
        laudantium perferendis, ut est soluta ipsum vitae exercitationem facilis
        voluptatem, inventore autem velit voluptas. Animi quae id quibusdam quia
        nihil delectus numquam cumque, alias dolor sit natus magni, hic neque
        harum suscipit rem cupiditate ducimus facilis autem. Ducimus ea ullam
        velit, iste porro vero. Ullam quos animi reprehenderit nam sint cum
        corporis enim facere. Alias, magni amet! Nobis cupiditate optio autem
        velit vitae, quas, laboriosam ea minus sed provident itaque. Illum, id.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae culpa
        deleniti asperiores consequatur accusantium porro harum sapiente quaerat
        non veritatis expedita voluptates maxime, accusamus facilis repellat
        necessitatibus commodi placeat, molestiae, provident atque suscipit odio
        rem et. Qui earum veritatis ea a distinctio fugit nobis molestiae,
        laudantium perferendis, ut est soluta ipsum vitae exercitationem facilis
        voluptatem, inventore autem velit voluptas. Animi quae id quibusdam quia
        nihil delectus numquam cumque, alias dolor sit natus magni, hic neque
        harum suscipit rem cupiditate ducimus facilis autem. Ducimus ea ullam
        velit, iste porro vero. Ullam quos animi reprehenderit nam sint cum
        corporis enim facere. Alias, magni amet! Nobis cupiditate optio autem
        velit vitae, quas, laboriosam ea minus sed provident itaque. Illum, id.
      </p>
      <div id="element">
        #element
      </div>
    </header>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
