<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">Colors</h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>
    <div class="mb-12">
      <div>
        <h3 class="text-h-md">Basispalet</h3>
      </div>
      <div
        class="items-center grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xxl:grid-cols-10"
      >
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-black font-bold mr-1 text-nos-gray-20 text-center"
        >
          Zwart<br />
          #1E1E1E<br />
          -
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-gray-100 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Grijs<br />
          #949494<br />
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-gray-60 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Lichtgrijs<br />
          #EBEBE6<br />
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 text-nos-gray-60 font-bold mr-1 bg-nos-white border-nos-gray-40 border-2 text-center"
        >
          Wit<br />
          #FFFFFF<br />
          -
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-red-100 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Rood<br />
          #E61E14<br />
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-red-60 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Op3 roze<br />
          #FF6E6E<br />
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-blue-100 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Blauwgroen<br />
          #00696E<br />
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-blue-60 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Groen<br />
          #32BEC8<br />
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-yellow-100 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Geel<br />
          #FFC828<br />
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-32 h-32 bg-nos-yellow-60 font-bold mr-1 text-nos-gray-20 text-center"
        >
          Lichtgeel<br />
          #FFDE7E<br />
          60
        </div>
      </div>
    </div>
    <div>
      <h3 class="text-h-md">Kleurtinten</h3>
    </div>
    <div class="xl:grid xl:grid-cols-2">
      <div class="items-center flex mb-4">
        <div class="inline-flex justify-center items-center w-12 h-10 mr-4">
          <h4 class="text-h-sm">Rood</h4>
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-20"
        >
          20
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-40"
        >
          40
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-60"
        >
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-80"
        >
          80
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-100"
        >
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-120"
        >
          120
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-red-140"
        >
          140
        </div>
      </div>
      <div class="items-center flex mb-4">
        <div class="inline-flex justify-center items-center w-12 h-10 mr-4">
          <h4 class="text-h-sm">Geel</h4>
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-20"
        >
          20
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-40"
        >
          40
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-60"
        >
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-80"
        >
          80
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-100"
        >
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-120"
        >
          120
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-yellow-140"
        >
          140
        </div>
      </div>
      <div class="items-center flex mb-4">
        <div class="inline-flex justify-center items-center w-12 h-10 mr-4">
          <h4 class="text-h-sm">Blauw</h4>
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-20"
        >
          20
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-40"
        >
          40
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-60"
        >
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-80"
        >
          80
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-100"
        >
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-120"
        >
          120
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-blue-140"
        >
          140
        </div>
      </div>
      <div class="items-center flex mb-4">
        <div class="inline-flex justify-center items-center w-12 h-10 mr-4">
          <h4 class="text-h-sm">Grijs</h4>
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-20"
        >
          20
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-40"
        >
          40
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-60"
        >
          60
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-80"
        >
          80
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-100"
        >
          100
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-120"
        >
          120
        </div>
        <div
          class="inline-flex justify-center items-center w-14 h-14 text-nos-gray-20 font-bold mr-1 bg-nos-gray-140"
        >
          140
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
