<template>
  <section>
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">
        Form elements
      </h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>

    <div class="w-full mb-4">
      <select v-model="currentSize">
        <option value="sm">SM</option>
        <option value="md">MD</option>
        <option value="lg">LG</option>
      </select>
    </div>

    <div class="mb-2">
      <InputTextArea
        :size="currentSize"
        placeholder="Vul iets in..."
        :value.sync="inputTextarea"
      />
    </div>

    <div class="lg:grid lg:grid-cols-4 gap-2">
      <div>
        <InputField
          placeholder="Vul iets in..."
          :size="currentSize"
          icon-left-color="nos-blue-60"
          icon-left-name="heart"
          icon-left-element="span"
          :value.sync="inputValue"
          @click-left-icon="handleInput"
        />
      </div>
      <div>
        <InputField
          placeholder="Vul iets in..."
          :size="currentSize"
          icon-right-color="nos-blue-60"
          icon-right-name="marker"
          icon-right-element="span"
          :value.sync="inputValue"
          @click-left-icon="handleInput"
        />
      </div>
      <div>
        <InputField
          placeholder="Vul iets in..."
          :size="currentSize"
          icon-left-color="nos-blue-60"
          icon-left-name="search"
          :icon-right-name="
            inputValue.length > 0 && inputValue ? 'circleCross' : null
          "
          icon-right-color="nos-gray-80"
          icon-left-element="span"
          icon-right-element="button"
          :value.sync="inputValue"
          @click-right-icon="clearInput"
          @click-left-icon="handleInput"
        />
      </div>
      <div>
        <InputField
          disabled
          placeholder="Vul iets in..."
          :size="currentSize"
          icon-left-color="nos-blue-60"
          icon-left-name="search"
          :icon-right-name="
            inputValue.length > 0 && inputValue ? 'circleCross' : null
          "
          icon-right-color="nos-gray-80"
          icon-left-element="span"
          icon-right-element="button"
          :value.sync="inputValue"
          @click-right-icon="clearInput"
          @click-left-icon="handleInput"
        />
      </div>
    </div>

    <hr class="my-4 border-nos-gray-80" />
    <div class="lg:grid lg:gap-4 lg:grid-cols-4">
      <div>
        <InputDropDown
          :size="currentSize"
          :input-data="dropdownList"
          class="mb-2"
        />
        <div class="formFieldSelector" :size="currentSize">
          <button
            class="formField rounded-4"
            :size="currentSize"
            icon-left
            :active="showAutocomplete"
            @click="showAutocomplete = !showAutocomplete"
          >
            <span class="formField-icon">
              <SvgIcon :size="currentSize" name="search" />
            </span>
            <input
              v-model="autoCompleteValue"
              class="input"
              type="text"
              placeholder="Vul iets in..."
              @blur="showAutocomplete = false"
            />
          </button>
          <div
            v-if="showAutocomplete && autoCompleteValue.length > 0"
            class="formField list input rounded-4"
          >
            <header class="list-header">Dit zijn suggesties</header>
            <ul :size="currentSize">
              <li class="list-item">Autocomplete item</li>
              <li class="list-item">Autocomplete item</li>
              <li class="list-item">Autocomplete item</li>
              <li class="list-item" selected>Autocomplete item geselecteerd</li>
              <li class="list-item">Autocomplete item</li>
            </ul>
            <div class="list-separator" full-width></div>
            <header class="list-header">Deze zijn disabled</header>
            <ul class="sm">
              <li class="list-item" disabled>Autocomplete item</li>
              <li class="list-item" disabled>Autocomplete item</li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="formRadio" :size="currentSize">
          <input
            id="radio1"
            type="radio"
            name="radios"
            value="Radio 1"
            checked
          />
          <label for="radio1">Radio 1</label>
        </div>
        <div class="formRadio" :size="currentSize" disabled>
          <input
            id="radio1"
            type="radio"
            name="radios"
            value="Radio 1"
            checked
            disabled
          />
          <label for="radio1">Radio 1</label>
        </div>
      </div>
      <div>
        <div class="formCheckbox" :size="currentSize">
          <input
            id="checkbox1"
            type="checkbox"
            name="checkboxes"
            value="Checkbox 1"
          />
          <label for="checkbox1">Checkbox 1</label>
        </div>

        <div class="formCheckbox" :size="currentSize" disabled>
          <input
            id="checkbox1"
            type="checkbox"
            name="checkboxes"
            value="Checkbox 1"
            disabled
          />
          <label for="checkbox1">Checkbox 1</label>
        </div>
      </div>
      <div>
        <InputToggle
          :size="currentSize"
          :value.sync="isFormToggled"
          label="Toggle"
        />
        <div class="flex items-center">
          <InputToggle
            :size="currentSize"
            :value.sync="isFormToggled"
            disabled
          />
          <div>
            Disabled
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4 border-nos-gray-80" />

    <div>
      <RangeSlider
        :value="rangeValue"
        :max="50"
        :min="0"
        :step="0.5"
        size="xs"
        @update:value="rangeValue = $event"
      />
      <RangeSlider
        :value="rangeValue"
        :max="50"
        :min="0"
        :step="0.5"
        size="sm"
        @update:value="rangeValue = $event"
      />
      <RangeSlider
        :value="rangeValue"
        :max="50"
        :min="0"
        :step="0.5"
        size="md"
        @update:value="rangeValue = $event"
      />
      <RangeSlider
        :value="rangeValue"
        :max="50"
        :min="0"
        :step="0.5"
        size="lg"
        @update:value="rangeValue = $event"
      />
      <RangeSlider
        :value="rangeValue"
        :max="50"
        :min="0"
        :step="0.5"
        :disabled="true"
        @update:value="rangeValue = $event"
      />
    </div>
  </section>
</template>

<script>
import InputTextArea from '~/components/Forms/InputTextArea';
import InputDropDown from '~/components/Forms/InputDropDown';
import InputToggle from '~/components/Forms/InputToggle';
import InputField from '~/components/Forms/InputField';
import RangeSlider from '~/components/Forms/RangeSlider';

import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    InputDropDown,
    InputTextArea,
    InputToggle,
    InputField,
    RangeSlider,
    SvgIcon
  },
  data() {
    return {
      currentSize: 'md',
      inputValue: 'Ik ben een veld',
      inputTextarea: 'Ik ben een text area',

      dropdownList: [
        {
          label: 'Header 1',
          type: 'header'
        },
        {
          label: 'Option 1'
        },
        {
          label: 'Option 2'
        },
        {
          label: 'Option 3 - Disabled',
          isDisabled: true
        },
        {
          label: 'Option 4 - Selected',
          isSelected: true
        },
        {
          type: 'separator'
        },
        {
          label: 'Header 2',
          type: 'header'
        },
        { label: 'Option 5' },
        { label: 'Option 6' },
        {
          type: 'separator',
          isFullWidth: true
        },
        {
          label: 'Header 3',
          type: 'header'
        },
        { label: 'Option 7' },
        { label: 'Option 8' },
        {
          type: 'separator',
          isNoLine: true
        },
        { label: 'Option 9' },
        { label: 'Option 10' }
      ],
      showAutocomplete: false,
      autoCompleteValue: '',

      rangeValue: 25,

      isFormToggled: false
    };
  },
  computed: {
    visualiserStyles() {
      return {
        left: (this.rangeLeft / this.rangeMax) * 100 + '%',
        width: ((this.rangeRight - this.rangeLeft) / this.rangeMax) * 100 + '%'
      };
    }
  },
  methods: {
    clearInput(val) {
      this.inputValue = '';
    },
    handleInput(val) {
      console.log(val); // eslint-disable-line
    }
  }
};
</script>
