<template>
  <section class="p-4 text-nos-black">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">
        Icons
      </h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>
    <section class="flex">
      <div class="p-4">
        <h3 class="text-h-md">Standard default sizes</h3>
        <div class="flex justify-between items-stretch">
          <div class="flex flex-col justify-center">
            <SvgIcon name="twitter" size="xl" />
            <span>XL</span>
          </div>
          <div class="flex flex-col justify-center">
            <SvgIcon name="twitter" size="lg" />
            <span>LG</span>
          </div>
          <div class="flex flex-col justify-center">
            <SvgIcon name="twitter" size="md" />
            <span>MD</span>
          </div>
          <div class="flex flex-col justify-center">
            <SvgIcon name="twitter" size="sm" />
            <span>SM</span>
          </div>
          <div class="flex flex-col justify-center">
            <SvgIcon name="twitter" size="xs" />
            <span>XS</span>
          </div>
        </div>
        <h3 class="text-h-md">Default colors</h3>
        <div class="flex items-center">
          <div v-for="i in 7" :key="`red_${i}`">
            <SvgIcon name="twitter" :class="`text-nos-red-${i * 20}`" />
          </div>
        </div>
        <div class="flex items-center">
          <div v-for="i in 7" :key="`yellow_${i}`">
            <SvgIcon name="twitter" :class="`text-nos-yellow-${i * 20}`" />
          </div>
        </div>
        <div class="flex items-center">
          <div v-for="i in 7" :key="`blue_${i}`">
            <SvgIcon name="twitter" :class="`text-nos-blue-${i * 20}`" />
          </div>
        </div>
        <div class="flex items-center">
          <div v-for="i in 7" :key="`gray_${i}`">
            <SvgIcon name="twitter" :class="`text-nos-gray-${i * 20}`" />
          </div>
        </div>
        <h3 class="text-h-md">Customize colors</h3>
        <div class="flex items-center">
          <div><SvgIcon name="twitter" color="orange" /></div>
          <div><SvgIcon name="twitter" color="green" /></div>
          <div><SvgIcon name="twitter" color="pink" /></div>
          <div><SvgIcon name="twitter" color="#FA392E" /></div>
          <div><SvgIcon name="twitter" color="#00FA00" /></div>
        </div>
      </div>
      <div class="p-4">
        <h3 class="text-h-md">Custom sizing</h3>
        <div class="flex items-center">
          <div><SvgIcon name="twitter" :size="256" /></div>
          <div><SvgIcon name="twitter" :size="128" /></div>
          <div><SvgIcon name="twitter" :size="64" /></div>
          <div><SvgIcon name="twitter" :size="48" /></div>
          <div><SvgIcon name="twitter" :size="32" /></div>
          <div><SvgIcon name="twitter" :size="24" /></div>
          <div><SvgIcon name="twitter" :size="12" /></div>
          <div><SvgIcon name="twitter" :size="6" /></div>
        </div>
      </div>
    </section>
    <div class="p-4">
      <h3 class="text-h-md">Icon library</h3>
      <div class="flex">
        <div
          v-for="(icon, index) in iconList"
          :key="`icon_${index}`"
          class="w-20"
        >
          <SvgIcon :name="icon" />
          {{ icon }}
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import icons from '~/components/SvgIcon/icons.json';
import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    SvgIcon
  },
  computed: {
    iconList() {
      const list = [];
      Object.keys(icons).forEach(function(key) {
        list.push(key);
      });

      return list;
    }
  }
};
</script>

<style></style>
