<template>
  <section>
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">
        List elements
      </h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>

    <div class="lg:flex">
      <div class="lg:w-1/5">
        <h3 class="text-h-md">XS</h3>
        <ul size="xs">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">SM</h3>
        <ul size="sm">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">MD</h3>
        <ul size="md">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">LG</h3>
        <ul size="lg">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">XL</h3>
        <ul size="xl">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4 border-nos-gray-80" />
    <div class="lg:flex">
      <div class="lg:w-1/5">
        <h3 class="text-h-md">XS</h3>
        <ul size="xs" list-style="disc">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">SM</h3>
        <ul size="sm" list-style="decimal">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">MD</h3>
        <ul size="md" list-style="disc">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">LG</h3>
        <ul size="lg" list-style="decimal">
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
          <li>List item with long title to see what happens...</li>
          <li><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">XL</h3>
        <ul size="xl" list-style="disc">
          <li>List item with long title to see what happens...</li>
          <li>List item with long title to see what happens...</li>
          <li>List item with long title to see what happens...</li>
          <li>List item with long title to see what happens...</li>
          <li>List item with long title to see what happens...</li>
        </ul>
      </div>
    </div>
    <hr class="my-4 border-nos-gray-80" />
    <div class="lg:flex">
      <div class="lg:w-1/5">
        <h3 class="text-h-md">XS</h3>
        <ul size="xs" list-style="icon" icon="chevronRight">
          <li><SvgIcon name="chevronRight" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="chevronRight" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="chevronRight" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="chevronRight" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="chevronRight" /><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">SM</h3>
        <ul size="sm" list-style="icon" icon="check">
          <li><SvgIcon name="check" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="check" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="check" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="check" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="check" /><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">MD</h3>
        <ul size="md" list-style="icon" icon="heart">
          <li><SvgIcon name="heart" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="heart" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="heart" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="heart" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="heart" /><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">LG</h3>
        <ul size="lg" list-style="icon" icon="search">
          <li><SvgIcon name="search" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="search" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="search" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="search" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="search" /><a href="">List item</a></li>
        </ul>
      </div>
      <div class="lg:w-1/5">
        <h3 class="text-h-md">XL</h3>
        <ul size="xl" list-style="icon" icon="chevronRight">
          <li><SvgIcon name="chevronRight" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="chevronRight" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="chevronRight" /><a href="">List item</a></li>
          <li>
            <SvgIcon name="chevronRight" /><a href=""
              >List item with long title to see what happens...</a
            >
          </li>
          <li><SvgIcon name="chevronRight" /><a href="">List item</a></li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    SvgIcon
  }
};
</script>
