<template>
  <div class="card">
    <component :is="componentFile"></component>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    componentFile() {
      return () => import(`~/pages/tailwind/TW${this.name}.vue`);
    }
  }
};
</script>
