<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 font-bold">Shadows</h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>
    <div class="grid grid-cols-7 gap-4">
      <div class="h-32 flex justify-center items-center shadow-xs">XS</div>
      <div class="h-32 flex justify-center items-center shadow-sm">SM</div>
      <div class="h-32 flex justify-center items-center shadow">Default</div>
      <div class="h-32 flex justify-center items-center shadow-md">MD</div>
      <div class="h-32 flex justify-center items-center shadow-lg">LG</div>
      <div class="h-32 flex justify-center items-center shadow-xl">XL</div>
      <div class="h-32 flex justify-center items-center shadow-2xl">2XL</div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
