<template>
  <section class="p-4">
    <header>
      <h2 class="text-h-sm mb-4 text-nos-gray-100 ">Typografie</h2>
      <hr class="mb-8 border-nos-gray-80" />
    </header>
    <div class="w-full">
      <!-- HEADERS -->
      <div class="mb-4">
        <h3 class="text-nos-black text-h-xl">
          Typografie is meer dan een blokje tekst
        </h3>
        <div class="text-nos-gray-100">.text-h-xl</div>
      </div>
      <div class="mb-4">
        <h3 class="text-nos-black text-h-lg">
          Typografie is meer dan een blokje tekst
        </h3>
        <div class="text-nos-gray-100">.text-h-lg</div>
      </div>
      <div class="mb-4">
        <h3 class="text-nos-black text-h-md">
          Typografie is meer dan een blokje tekst
        </h3>
        <div class="text-nos-gray-100">.text-h-md</div>
      </div>
      <div class="mb-4">
        <h3 class="text-nos-black text-h-sm">
          Typografie is meer dan een blokje tekst
        </h3>
        <div class="text-nos-gray-100">.text-h-sm</div>
      </div>
      <div class="mb-4">
        <h3 class="text-nos-black text-h-xs">
          Typografie is meer dan een blokje tekst
        </h3>
        <div class="text-nos-gray-100">.text-h-xs</div>
      </div>
    </div>
    <div class="md:flex">
      <div class="w-full md:w-1/2">
        <!-- PARAGRAPHS -->
        <div>
          <p class="text-p-xl">
            Typografie is de kunst van het vormgeven, zetten en drukken van
            tekst, zowel voor functionele als esthetische doeleinden. Daarbij
            speelt de opmaak van tekstblokken, de bladspiegel alsook de keuze
            van lettertypen, vette en cursieve varianten, witruimte en
            interpunctie een belangrijke rol.
          </p>
          <span class="text-nos-gray-100 mb-4 block">.text-p-xl</span>
          <p class="text-p-lg">
            Typografie is de kunst van het vormgeven, zetten en drukken van
            tekst, zowel voor functionele als esthetische doeleinden. Daarbij
            speelt de opmaak van tekstblokken, de bladspiegel alsook de keuze
            van lettertypen, vette en cursieve varianten, witruimte en
            interpunctie een belangrijke rol.
          </p>
          <span class="text-nos-gray-100 mb-4 block">.text-p-lg</span>
          <p class="text-p-md">
            Typografie is de kunst van het vormgeven, zetten en drukken van
            tekst, zowel voor functionele als esthetische doeleinden. Daarbij
            speelt de opmaak van tekstblokken, de bladspiegel alsook de keuze
            van lettertypen, vette en cursieve varianten, witruimte en
            interpunctie een belangrijke rol.
          </p>
          <span class="text-nos-gray-100 mb-4 block">.text-p-md</span>
          <p class="text-p-sm">
            Typografie is de kunst van het vormgeven, zetten en drukken van
            tekst, zowel voor functionele als esthetische doeleinden. Daarbij
            speelt de opmaak van tekstblokken, de bladspiegel alsook de keuze
            van lettertypen, vette en cursieve varianten, witruimte en
            interpunctie een belangrijke rol.
          </p>
          <span class="text-nos-gray-100 mb-4 block">.text-p-sm</span>
          <p class="text-p-xs">
            Typografie is de kunst van het vormgeven, zetten en drukken van
            tekst, zowel voor functionele als esthetische doeleinden. Daarbij
            speelt de opmaak van tekstblokken, de bladspiegel alsook de keuze
            van lettertypen, vette en cursieve varianten, witruimte en
            interpunctie een belangrijke rol.
          </p>
          <span class="text-nos-gray-100 mb-4 block">.text-p-xs</span>
        </div>
      </div>

      <div class="w-full md:w-1/2 md:pl-4">
        <section class="textContent">
          <h2 class="text-h-lg">Tekstblokjes en witruimtes</h2>
          <p>
            In de lopende tekst gebruiken we
            <strong>niet meer dan 80 woorden per alinea.</strong>
            Dit voorkomt dat een alinea zo lang wordt dat het ontmoedigt om ‘m
            te gaan lezen. En hierbij geldt: kortere alinea’s lezen prettiger
            dan langer. Deze is bijvoorbeeld 44 woorden lang.
          </p>
          <p>
            Zorg ervoor dat de interactive genoeg lucht heeft. Wijk niet af van
            de minimale marge van de marges links en rechts en laat de tekst
            boven en onder ademen. Gebruik
            <strong>20px als marge tussen twee alinea’s</strong>.
          </p>
        </section>
        <section class="textContent">
          <h2 class="text-h-md">En na een tussenkop?</h2>
          <p>
            Met tussenkopjes kun je een nieuw hoofdstuk markeren. Tussen een
            tussenkop en de alinea eronder zit 10px.
          </p>
          <p>
            Nog één ding: als er veel woorden op een regel staan, wordt het
            lastig om de tekst te lezen. Zorg ervoor dat de regels
            <strong>niet breder dan 65 tekens</strong> zijn. Dat is ongeveer zo
            breed als deze tekstblokken. Voor mobiel kom je niet aan die
            breedte, maar op desktop wel. Let erop dat je tekstregels niet
            langer zijn dan 8 kolommen op het grid.
          </p>
          <p>
            En nu we het toch over tekst hebben. Regels lees je beter in een
            lijstje dan in lopende tekst:
          </p>
        </section>
        <div class="flex">
          <div class="w-1/2 pr-3">
            <h3 class="text-h-sm">Marges</h3>
            <ul>
              <li class="flex justify-between">
                Tussen alinea's <strong>20px</strong>
              </li>
              <li class="flex justify-between">
                Boven en tussenkop <strong>40px</strong>
              </li>
              <li class="flex justify-between">
                Na een tussenkop <strong>10px</strong>
              </li>
              <li class="flex justify-between">
                Tussen lijst-items <strong>10px</strong>
              </li>
            </ul>
          </div>
          <div class="w-1/2 pl-3">
            <h3 class="text-h-sm">Overig</h3>
            <ul>
              <li class="flex justify-between">
                Tekens per regel <strong>65</strong>
              </li>
              <li class="flex justify-between">
                Woorden per alinea <strong>80</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style></style>
