<template>
  <svg class="svgIcon" :width="iconSize" :height="iconSize" :viewBox="viewBox">
    <path :d="path" />
  </svg>
</template>

<script>
/* eslint-disable */
import icons from './icons.json';
import { theme } from '~/tailwind/tailwind.config';

export default {
  name: 'SvgIcon',
  props: {
    name: {
      type: String,
      required: true,
      validator(value) {
        return Object.keys(icons).some((key) => key === value);
      }
    },
    size: {
      type: [Number, String],
      default: 24,
      validator(value) {
        const {
          icons: { sizes }
        } = theme;
        return (
          Object.keys(sizes).some((key) => key === value) ||
          (Number.isInteger(value) && value > 0)
        );
      }
    },
    viewBox: {
      type: String,
      default: '0 0 24 24'
    }
  },
  computed: {
    path() {
      return icons[this.name];
    },
    iconSize() {
      const vue = this;
      const {
        icons: { sizes }
      } = theme;

      let output = vue.size;
      if (!Number.isInteger(vue.size)) {
        Object.keys(sizes).some(function(key) {
          if (key === vue.size) {
            output = sizes[key];
          }
        });
      }
      return output;
    }
  }
};
</script>

<style lang="scss" scoped>
.svgIcon {
  fill: currentColor;
}
</style>
