<template>
  <div
    ref="dropzone"
    class="dropzone p-4 rounded-4"
    :class="dropzoneClasses"
    @mouseenter="isHover = true"
    @mouseleave="isHover = false"
    @dragover="dragover"
    @dragleave="dragleave"
    @drop="drop"
  >
    <input
      :id="`fileUpload${_uid}`"
      ref="inputFileUpload"
      :accept="fileAccept"
      type="file"
      @change="onChange"
    />
    <label v-if="!image && !isUploading" :for="`fileUpload${_uid}`"></label>
    <div v-if="!image" class="text-center">
      <div v-if="isUploading">
        <p class="text-p-sm text-bold text-nos-blue-60">
          <i>Uploaden...</i>
        </p>
      </div>
      <div v-else>
        <p class="text-p-md mb-2 text-nos-gray-100">
          <small>Sleep je afbeelding hierin of</small>
        </p>
        <NosBtn size="sm" class="pointer-events-none">
          Afbeelding uploaden
        </NosBtn>
      </div>
    </div>

    <div v-else class="flex items-center">
      <div class="thumb mr-2">
        <img :src="image" />
      </div>
      <div class="flex-1 text-nos-gray-120 truncate">
        <p class="text-p-xs">
          <small
            ><i>{{ name }}</i></small
          >
        </p>
      </div>
      <div class="ml-2">
        <NosBtn size="sm" icon theme="blue" @click.native="remove">
          <SvgIcon name="cross" />
        </NosBtn>
      </div>
    </div>
  </div>
</template>

<script>
import NosBtn from '~/components/NosBtn';
import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    NosBtn,
    SvgIcon
  },
  props: {
    // TODO:
    // EXPAND THIS
    fileAccept: {
      type: String,
      default: '.png, .jpg, .jpeg'
    }
  },

  data() {
    return {
      name: null,
      image: null,
      isHover: false,
      isUploading: false,
      isDragOver: false,
      filelist: []
    };
  },

  computed: {
    dropzoneClasses() {
      const classes = [
        !this.image || this.isUploading ? 'border-2' : 'border-1',
        !this.image || this.isUploading ? 'border-dashed' : 'border-solid',
        !this.isDragOver && !this.image && !this.isUploading
          ? 'bg-nos-gray-20'
          : 'bg-nos-blue-20',
        !this.isDragOver && !this.image && !this.isUploading
          ? 'border-nos-gray-80'
          : 'border-nos-blue-40',
        this.isHover && !this.image ? 'bg-nos-gray-40' : ''
      ];
      return classes;
    }
  },

  methods: {
    remove() {
      this.$refs.inputFileUpload.value = null;
      this.image = null;
      this.name = null;
      this.isDragOver = false;
      this.filelist = [];
      this.$emit('remove');
    },

    onChange(e) {
      const files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.name = files[0].name;
      this.createImage(files[0]);

      this.$emit('uploaded', files);
    },

    createImage(file) {
      this.isUploading = true;
      const reader = new FileReader();
      const vue = this;

      reader.onload = (e) => {
        vue.isUploading = false;
        vue.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },

    dragover(event) {
      event.preventDefault();
      if (!this.isDragOver) {
        this.isDragOver = true;
      }
    },

    dragleave(event) {
      if (this.isDragOver) {
        this.isDragOver = false;
      }
    },

    drop(event) {
      event.preventDefault();
      if (this.image) {
        return;
      }
      this.$refs.inputFileUpload.files = event.dataTransfer.files;
      this.$emit('uploaded', event.dataTransfer.files);

      this.name = event.dataTransfer.files[0].name;
      this.createImage(event.dataTransfer.files[0]);

      if (this.isDragOver) {
        this.isDragOver = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.thumb {
  @include rem(width, 3rem);

  @apply bg-nos-gray-40;
  @apply border-1;
  @apply border-nos-gray-60;

  img {
    display: block;
    max-width: none;
    @include rem(width, 3rem);
    @include rem(height, 3rem);
  }
}

.dropzone {
  position: relative;

  input[type='file'] {
    display: none;
    visibility: hidden;
    opacity: 0;
    & + label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      cursor: pointer;
    }
  }
}
</style>
