<template>
  <div
    class="formField rounded-4"
    :size="size"
    :active="isActive"
    :icon-left="iconLeftName"
    :icon-right="iconRightName"
    :disabled="disabled"
    :error="error"
    :success="success"
  >
    <comopnent
      :is="iconLeftElement"
      v-if="iconLeftName"
      class="formField-icon"
      @click="$emit('click-left-icon', value)"
    >
      <SvgIcon :size="size" :class="iconLeftClass" :name="iconLeftName" />
    </comopnent>
    <input
      class="input"
      type="text"
      :value="value"
      :placeholder="placeholder"
      :disabled="disabled"
      :maxlength="maxlength"
      @keyup="$emit('update:value', $event.target.value)"
      @blur="isActive = false"
      @focus="isActive = true"
    />
    <component
      :is="iconRightElement"
      v-if="iconRightName"
      class="formField-icon"
      @click="$emit('click-right-icon', value)"
    >
      <SvgIcon :size="size" :class="iconRightClass" :name="iconRightName" />
    </component>
  </div>
</template>

<script>
import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    SvgIcon
  },
  props: {
    success: Boolean,
    error: Boolean,
    disabled: Boolean,

    value: {
      type: String,
      default: null
    },

    maxlength: {
      type: Number,
      default: null
    },

    placeholder: {
      type: String,
      default: null
    },

    iconLeftElement: {
      type: String,
      default: 'span'
    },
    iconLeftColor: {
      type: String,
      default: null
    },
    iconLeftName: {
      type: String,
      default: null
    },

    iconRightElement: {
      type: String,
      default: 'span'
    },
    iconRightColor: {
      type: String,
      default: null
    },
    iconRightName: {
      type: String,
      default: null
    },

    size: {
      type: String,
      default: 'md',
      validator(val) {
        const sizes = ['xs', 'sm', 'md', 'lg', 'xl'];
        return sizes.includes(val);
      }
    }
  },
  data() {
    return {
      isActive: false,
      inputValue: ''
    };
  },
  computed: {
    iconRightClass() {
      return this.iconRightColor ? `text-${this.iconRightColor}` : null;
    },
    iconLeftClass() {
      return this.iconLeftColor ? `text-${this.iconLeftColor}` : null;
    }
  }
};
</script>
