<template>
  <div class="formToggle has-border" :size="size">
    <input
      :id="`TOGGLER_${_uid}`"
      type="checkbox"
      name="formToggleSm"
      :disabled="disabled"
      :checked="value"
      @change="$emit('update:value', $event.target.checked)"
    />
    <label :for="`TOGGLER_${_uid}`"
      ><span v-if="label">{{ label }}</span></label
    >
  </div>
</template>

<script>
export default {
  props: {
    disabled: Boolean,
    value: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: null
    },
    size: {
      type: String,
      default: 'md',
      validator(val) {
        const sizes = ['xs', 'sm', 'md', 'lg', 'xl'];
        return sizes.includes(val);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.formToggle {
  [type='checkbox'] {
    & + label {
      position: relative;
      cursor: pointer;
      @include rem(padding-left, (4.4rem * 2 + 1rem));

      // BG
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        @include rem(height, 4.4rem);
        @include rem(width, 4.4rem * 2);
        @apply bg-nos-gray-80;
        border-width: 1px;
        border-color: transparent;

        @include rem(border-radius, 5rem);
        transition: left 0.4s ease-in-out;
      }

      // Circle
      &:after {
        content: '';
        position: absolute;
        @include rem(height, 4.4rem - 1rem);
        @include rem(width, 4.4rem - 1rem);
        @include rem(left, 0.6rem);
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
        transition: 0.4s;
        border-radius: 100%;
      }
    }

    &:checked + label:before {
      @apply bg-nos-red-60;
    }

    &:checked + label:after {
      @include rem(left, 4.4rem + 0.2rem);
    }
  }

  &.has-border [type='checkbox'] + label:before {
    @apply border-nos-gray-100;
  }

  // sizes
  @each $name, $height in $sizes {
    &[size='#{$name}'] [type='checkbox'] {
      & + label {
        @include rem(padding-left, ($height * 0.8 * 2 + 1rem));
        &:before {
          @include rem(height, $height * 0.8);
          @include rem(width, $height * 0.8 * 2);
        }
        &:after {
          @include rem(height, $height * 0.8 - 1rem);
          @include rem(width, $height * 0.8 - 1rem);
        }
      }
      &:checked + label:after {
        @include rem(left, $height * 0.8 + 0.2rem); // 2px border
      }
    }
  }
}
</style>
