<template>
  <div
    class="formField rounded-4"
    :size="size"
    :active="isActive"
    :disabled="disabled"
    :error="error"
    :success="success"
  >
    <textarea
      :ref="`textarea_${_uid}`"
      class="input"
      type="text"
      :value="value"
      :placeholder="placeholder"
      :disabled="disabled"
      :maxlength="maxlength"
      :rows="rows"
      @keyup="handleKeyUp"
      @blur="isActive = false"
      @focus="isActive = true"
    />
  </div>
</template>

<script>
export default {
  props: {
    success: Boolean,
    error: Boolean,
    disabled: Boolean,

    value: {
      type: String,
      default: null
    },

    maxlength: {
      type: Number,
      default: null
    },

    // TODO:
    // ADD THIS

    // maxHeight: {
    //   type: Number,
    //   default: null
    // },

    placeholder: {
      type: String,
      default: null
    },

    autogrow: {
      type: Boolean,
      default: true
    },

    rows: {
      type: Number,
      default: 3
    },

    size: {
      type: String,
      default: 'md',
      validator(val) {
        const sizes = ['xs', 'sm', 'md', 'lg', 'xl'];
        return sizes.includes(val);
      }
    }
  },

  data() {
    return {
      isActive: false
    };
  },

  mounted() {
    this.textareaResize();
  },

  methods: {
    handleKeyUp($event) {
      this.$emit('update:value', $event.target.value);
      this.textareaResize();
    },
    textareaResize() {
      const textArea = this.$refs[`textarea_${this._uid}`];
      textArea.style.minHeight = textArea.scrollHeight * 0.8 + 'px';
      this.$nextTick(() => {
        textArea.style.minHeight = textArea.scrollHeight + 'px';
      });
    }
  }
};
</script>

<style scoped>
textarea {
  line-height: 1.5;
}
</style>
