<template>
  <div class="formFieldSelector" :size="size">
    <div v-if="showDropdown" class="closer" @click="showDropdown = false" />
    <button
      class="formField rounded-4"
      :size="size"
      :active="showDropdown"
      :disabled="disabled"
      :error="error"
      :success="success"
      icon-right
      @click="showDropdown = !showDropdown"
    >
      <span class="input">{{ dropDownLabel }}</span>
      <span class="formField-icon">
        <SvgIcon :size="size" :name="!showDropdown ? 'caretDown' : 'caretUp'" />
      </span>
    </button>

    <div v-if="showDropdown" class="list formField input rounded-4">
      <ul :list-style="listStyle" :size="size">
        <li
          v-for="(option, index) in inputData"
          :key="`${_uid}_${index}`"
          class="list-item"
          :disabled="option.isDisabled"
          :selected="option.isSelected || option === currentOption"
          :separator="option.type === 'separator'"
          :header="option.type === 'header'"
          :no-line="option.isNoLine"
          :full-width="option.isFullWidth"
          @click="selectItem(option)"
        >
          {{ option.label }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import SvgIcon from '~/components/SvgIcon';

export default {
  components: {
    SvgIcon
  },

  props: {
    success: Boolean,
    error: Boolean,
    disabled: Boolean,

    label: {
      type: String,
      default: 'Selecteer een optie'
    },

    inputData: {
      type: Array,
      required: true,
      default: () => {
        return [];
      }
    },

    size: {
      type: String,
      default: 'md',
      validator(val) {
        const sizes = ['xs', 'sm', 'md', 'lg', 'xl'];
        return sizes.includes(val);
      }
    },

    listStyle: {
      type: String,
      default: null,
      validator(val) {
        const styles = ['decimal', 'disc'];
        return styles.includes(val);
      }
    }
  },

  data() {
    return {
      showDropdown: false,
      currentOption: null
    };
  },

  computed: {
    dropDownLabel() {
      return this.currentOption ? this.currentOption.label : this.label;
    }
  },

  methods: {
    selectItem(option) {
      this.showDropdown = false;
      if (option.type === 'separator' || option.type === 'header') {
        return;
      }
      this.currentOption = option;
      this.$emit('selected', option);
    }
  }
};
</script>
<style lang="scss">
.closer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
</style>
