<template>
  <div class="formRangeSlider" :size="size" :disabled="disabled">
    <!-- TODO:
        - ADD MIN MAX RANGE FUNC
        -->
    <!-- 
        <span
          class="thumb"
          :style="{ left: isMinimum ? rangeRight + '%' : rangeLeft + '%' }"
        ></span>
        <input
          v-if="isMinimum"
          v-model="rangeLeft"
          type="range"
          min="0"
          max="100"
          steps="1"
          class="min"
        />-->
    <div class="slider">
      <input
        v-if="!isMinimum"
        v-model="currentValue"
        type="range"
        :min="min"
        :max="max"
        :step="step"
        class="max"
        :disabled="disabled"
        @input="$emit('input:value', Number(currentValue))"
        @update="$emit('update:value', Number(currentValue))"
      />
      <span
        v-if="!hideVisualiser"
        class="visualiser"
        :style="visualiserStyles"
      />
    </div>
    <label v-if="!hideLabel">{{ currentValue }}</label>
  </div>
</template>

<script>
export default {
  props: {
    hideLabel: Boolean,
    disabled: Boolean,
    hideVisualiser: Boolean,
    value: {
      type: Number,
      required: true
    },
    max: {
      type: Number,
      required: true
    },
    min: {
      type: Number,
      default: 0
    },
    step: {
      type: Number,
      default: 1
    },

    size: {
      type: String,
      default: 'md',
      validator(val) {
        const sizes = ['xs', 'sm', 'md', 'lg', 'xl'];
        return sizes.includes(val);
      }
    }
  },

  data() {
    return {
      isMinimum: false,
      currentValue: 0
    };
  },

  computed: {
    visualiserStyles() {
      // const leftPercentage = (this.min / this.max) * 100;
      const leftPercentage = 0;
      const widthPercentage =
        ((this.currentValue - this.min) / (this.max - this.min)) * 100;
      return {
        left: isNaN(leftPercentage) ? 0 : leftPercentage + '%',
        width: isNaN(widthPercentage) ? 0 : widthPercentage + '%'
      };
    }
  },

  mounted() {
    this.currentValue = this.value;
  }
};
</script>
<style lang="scss" scoped>
.formRangeSlider {
  position: relative;
  display: flex;
  align-items: center;

  &[disabled] {
    cursor: not-allowed;
  }
  &[disabled] input {
    pointer-events: none;
  }

  .thumb {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    @include rem(width, 4.4rem * 0.8);
    @include rem(height, 4.4rem * 0.8);
    border-radius: 100%;
    background: #ffffff;
    @apply border-nos-gray-100;
    border-width: 1px;
    border-style: solid;
    z-index: 1;
    cursor: pointer;
  }
  .slider {
    position: relative;
    flex-grow: 2;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      @include rem(height, 0.3rem);
      @apply bg-nos-gray-60;
    }
  }

  label {
    display: flex;
    align-items: center;
    @include rem(height, 4.4rem);
    @include rem(font-size, 2rem);
  }

  .slider + label {
    @include rem(padding-left, 1.5rem);
  }

  .visualiser {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    margin: auto;
    @include rem(height, 0.3rem);
    @include rem(border-radius, 3rem);
    @apply bg-nos-red-60;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    .visualiser {
      @apply bg-nos-gray-100;
    }
  }

  input[type='range'] {
    position: relative;
    @include rem(height, 4.4rem);
    width: 100%;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 1;

    &:focus {
      outline: none;
    }

    // track
    &::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      background-color: transparent;
    }
    &::-moz-range-track {
      width: 100%;
      cursor: pointer;
      background-color: transparent;
      animate: 0.2s;
    }
    &::-ms-track {
      width: 100%;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 39px 0;
      color: transparent;
    }

    // thumb
    &::-webkit-slider-thumb {
      @include rem(width, 4.4rem * 0.8);
      @include rem(height, 4.4rem * 0.8);
      border-radius: 100%;
      background: #ffffff;
      @apply border-nos-gray-100;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
      -webkit-appearance: none;
    }
    &::-moz-range-thumb {
      @include rem(width, 4.4rem * 0.8);
      @include rem(height, 4.4rem * 0.8);
      border-radius: 100%;
      background: #ffffff;
      @apply border-nos-gray-100;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
      -webkit-appearance: none;
    }
    &::-ms-thumb {
      @include rem(width, 4.4rem * 0.8);
      @include rem(height, 4.4rem * 0.8);
      border-radius: 100%;
      background: #ffffff;
      @apply border-nos-gray-100;
      border-width: 1px;
      border-style: solid;
      cursor: pointer;
      -webkit-appearance: none;
    }

    &::-ms-fill-lower {
      background: transparent;
      border: 0px solid #000101;
      border-radius: 50px;
    }
    &::-ms-fill-upper {
      background: transparent;
      border: 0px solid #000101;
      border-radius: 50px;
    }

    &:focus::-webkit-slider-runnable-track {
      background: transparent;
    }

    &:focus::-ms-fill-lower {
      background: transparent;
    }
    &:focus::-ms-fill-upper {
      background: transparent;
    }
  }
  // TODO: IMPORT THESE
  // size height padding fontsize iconwidth
  $sizes: 'xs' 2.4rem (1rem 1.5rem) 1.2rem 2.4rem,
    'sm' 3rem (1rem 1.5rem) 1.6rem 3rem, 'md' 4.4rem (1rem 1.5rem) 2rem 4.4rem,
    'lg' 6rem (1.25rem 2rem) 3rem 6rem;

  @each $size, $height, $padding, $fontsize in $sizes {
    &[size='#{$size}'] {
      label {
        @include rem(font-size, $fontsize);
      }

      .thumb {
        @include rem(height, $height * 0.8);
        @include rem(width, $height * 0.8);
      }
      input[type='range'] {
        @include rem(height, $height);

        &::-webkit-slider-thumb {
          @include rem(width, $height * 0.8);
          @include rem(height, $height * 0.8);
        }
        &::-moz-range-thumb {
          @include rem(width, $height * 0.8);
          @include rem(height, $height * 0.8);
        }
        &::-ms-thumb {
          @include rem(width, $height * 0.8);
          @include rem(height, $height * 0.8);
        }
      }
    }
  }
}
</style>
